[2020-02-18 19:42] gerard33 opened #1 "Nice custom component"
Looks good. Thanks for sharing this.
Maybe you can also add the total power as that is available in the js as well?

[2020-02-18 22:13] robbinjanssen commented on #1
Great idea, added in v0.0.2! 👍

[2020-02-18 22:21] gerard33 commented on #1
Great!
The Omnik inverters can show data in 2 ways:
[code]
My inverter shows it in the second way, so with myDeviceArray. You code only can use option 1 isn't it? The relevant data is in the same positions, so should be an easy addition.

[2020-02-18 22:31] robbinjanssen commented on #1
I can definitely make that work, does your output from status.js shows 'webData' anywhere?

[2020-02-18 22:37] gerard33 commented on #1
There are some `webdata_*` parts in the js, but no exact `webData` match.

This is the top of the js file for me where I have changed some parts with ---

[code]

[2020-02-18 22:43] robbinjanssen commented on #1
And there are no new lines in the actual output right?

I think something like this might work, replace line 82 with:
[code]

Might not work as I see that (if new lines are removed), the string is: `...,3000,0,0,1724,,1,";;function initPageText()...`

In that case the last line of the change should be:
`matches = re.search('myDeviceArray[0]="(.*),";;function', result)`

Could you test this? If it

[2020-02-18 22:50] gerard33 commented on #1
I haven't changed any new lines in the output.

Maybe this can help in verifying your code -> https://github.com/sincze/Domoticz-Omnik-Local-Web-Plugin/blob/master/plugin.py#L147.

[2020-02-19 07:39] robbinjanssen commented on #1
Seems like that could work, i'll look into it!

[2020-02-24 17:34] robbinjanssen commented on #1
@gerard33 i've tagged a new release that should support your `myDeviceArray`, let me know if it works :)

https://github.com/robbinjanssen/home-assistant-omnik-inverter/releases/tag/v0.0.3

[2020-02-24 17:34] #1 closed

[2020-02-24 21:20] gerard33 commented on #1
Great. That works for me indeed :+1:

[2020-03-31 07:44] robbinjanssen opened #10 "Caching is not reset properly if the time is set incorrect."
When the time on the inverter has not been set correctly, it could cause your system not te reset the power today to 0 at 00:00. For this scenario we don't have solution yet:

For example, in the "perfect" case:

[code]

But if your inverter doesn't output 0 before or after 00:00, we don't reset the cache properly:

[code]

To deal with this we need to extend the cache to:
`[day, time, value]`

Ex

[2020-04-03 06:36] #10 closed

[2020-04-29 07:25] jbr79 opened #13 "repositroy.json missing"
When adding the repository in HACS, the log shows the following error:

20-04-29 07:22:04 ERROR (MainThread) [supervisor.utils.json] Can't read json from /data/addons/git/055ed765/repository.json: [Errno 2] No such file or directory: '/data/addons/git/055ed765/repository.json'
20-04-29 07:22:04 WARNING (MainThread) [supervisor.store.data] Can't read repository information from /data/addons/git/055

[2020-04-29 18:54] robbinjanssen commented on #13
I think you are not adding it through HACS but you are adding it through hassio?

You need to add it via `/hacs/settings`

[2020-04-30 12:13] jbr79 commented on #13
ah for crying out loud... I need some time off.

Works!

[2020-04-30 12:13] #13 closed

[2020-05-01 05:57] robbinjanssen commented on #13
Great to hear you resolved it, actually created a PR in HACS now to add it as a default repo :-)

[2020-05-01 08:32] robbinjanssen commented on #13
To prevent this in the future, we've now been added as an official integration of HACS 🎉

https://github.com/hacs/default/pull/383

[2020-05-03 07:29] GoSpursGoNL opened #15 "No data found"
Thanks for this promising addon!
For me unfortunately it doesn't work yet, hope you can help.

The addon logs:
Empty data from Omnik Inverter 192.168.1.28

In configuration.yaml I set the IP address as per the instructions (so 192.168.1.28)

http://192.168.1.28/js/status.js returns:
`var txt;var opt;function initPage(){txt=window.parent.reList().page.status;opt=window.parent.reList().page.option;f

[2020-05-04 07:44] robbinjanssen commented on #15
Interesting, your JS files returns completely different data then mine. I see you use an omnik 2k, i've only tested this with an omnik 4k.

When beautifying the code it looks like your inverter is calling some other URL to get the data, can you try calling `http://192.168.1.28/status.json?CMD=inv_query&rand=1234` and see if it returns anything?

If so we might be able to add support for this inver

[2020-05-04 13:30] GoSpursGoNL commented on #15
Thanks man, yes that returns the data. I redacted g_sn and mac values.
First url:
`{"g_sn":xxx,"g_ver":"VER:ME-111001-V1.0.6(2015-10-16)","time":1588598399,"g_time":8002,"g_err":0,"mac":"xxx","auto_ip":1,"ip":"192.168.1.28","sub":"255.255.255.0","gate":"192.168.1.9","auto_dns":1,"dns":"8.8.8.8","dns_bak":"8.8.4.4","i_status":16,"i_type":258,"i_num":1,"i_sn":"xxx","i_ver_m":"V1.25Build23261","i_ver

[2020-05-05 06:32] robbinjanssen commented on #15
Awesome, I think we can work with the first URL. I'll try creating a test version for you later this week.

[2020-05-05 09:04] wes1993 opened #16 "Request: Implement Alert Sensor"
Hello, Thanks a lot for your beautiful Project :-D
Works really well.
just one thing sometimes in my HomeAssistant log i have this error log:
Empty data from Omnik Inverter 192.168.0.58
But i can see the kwh etc in homeassistant so i think that the addon work because can take the info from my inverter.
can i send to you some stuff to identify why sometimes won't work?
Thanks a lot
Stefano

[2020-05-05 12:22] robbinjanssen commented on #16
Hi @wes1993, sure! I'll need some more info;

1. What does your inverter output if you go to http://192.168.0.58/js/status.js?
2. Is it within specific timeframes when it doesn't work?

The [code](https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/master/custom_components/omnik_inverter/sensor.py#L90-L100) that outputs the error basically tries to find the data within the string t

[2020-05-05 12:37] wes1993 commented on #16
The response from the status.js:

var version= "H4.01.51MW.2.01W1.0.64(2018-01-251-D)";
var m2mMid = "Hidden";
var wlanMac= "Hidden";
var m2mRssi= "65%";
var wanIp= "192.168.0.58";
var nmac= "Hidden";
var fephy= "off";
var yz_device_type="258";
var yz_device_num="1";
var myDeviceArray=new Array();
myDeviceArray[0]="IELN1520178F5210,V4.08Build215,V4.12Build246,Omnik1500tl ,1500,942,552,24693,,1,";

[2020-05-05 12:39] wes1993 commented on #16
The error log:

Logger: homeassistant.helpers.entity
Source: __main__.py:347
First occurred: 13:45:37 (1 occurrences)
Last logged: 13:45:37
Update of sensor.solar_power_current is taking over 10 seconds

Logger: custom_components.omnik_inverter.sensor
Source: custom_components/omnik_inverter/sensor.py:146
Integration: omnik_inverter (documentation)
First occurred: 10:42:35 (10 occurrences)
Last lo

[2020-05-05 13:22] robbinjanssen commented on #16
Hm that all seems normal, if you "sometimes" get data it means the output can be parsed and analysed. Maybe your inverter looses the network connection sometimes? That would explain the "Unable to fetch data from Omnik Inverter 192.168.0.58" message

Can you open a terminal window and `ping 192.168.0.58` for a while? See if there are some connection drops or something?

I'm working on an update fo

[2020-05-05 13:53] wes1993 commented on #16
Thanks for your fast reply :-D
i will try to ping for a while.
last question can you add the alert sensor and fatch the data from the java response?
Thanks a lot
Stefano

[2020-05-05 13:54] wes1993 commented on #16
This is my log:

2020-05-05 15:20:04 DEBUG (SyncWorker_14) [custom_components.omnik_inverter.sensor] Data = ['IELN1520178F5210', 'V4.08Build215', 'V4.12Build246', 'Omnik1500tl ', '1500', '868', '622', '24700', '', '2', '']
2020-05-05 15:21:35 DEBUG (SyncWorker_11) [custom_components.omnik_inverter.sensor] Data = ['IELN1520178F5210', 'V4.08Build215', 'V4.12Build246', 'Omnik1500tl ', '1500', '862',

[2020-05-06 07:32] robbinjanssen commented on #16
Strange, it does seem like the script gets data, @gerard33 do you have any idea?

[code]

Looking at the timestamps the data is actually there and the script does output it 🤔

[code]

@wes for your other question, what do you mean with the "alert sensor"?

[2020-05-06 17:07] robbinjanssen commented on #15
@GoSpursGoNL is `"i_eall":"8674.0",` kWh ?

[2020-05-06 17:26] robbinjanssen commented on #15
I've created a test version, unfortunately I cannot test this myself. Do you mind testing this for me?

https://github.com/robbinjanssen/home-assistant-omnik-inverter/tree/rja/v1.3.0

1. Copy the sensor.py file from that branch to your home assistant
2. Add `use_json: true` in your configuration.yaml

[2020-05-06 17:38] GoSpursGoNL commented on #15
Yes, in kWh.
Config like this?
[code]
I replaced the sensor.py, have not restarted HA yet, made the config changes as per above.
But config validation says:
Invalid config for [sensor.omnik_inverter]: [use_json] is an invalid option for [sensor.omnik_inverter]. Check: sensor.omnik_inverter->use_json. (See ?, line ?).

[2020-05-06 20:49] robbinjanssen commented on #15
@GoSpursGoNL I had an error in the sensor.py, fixed it now. Also tagged it as a `pre-release` so if you have beta releases enabled in HACS then you can add/update it through there. Your config looks fine, and i'm sure that HA won't bug you about it this time :)

[2020-05-07 11:44] GoSpursGoNL commented on #15
It works, awesome! Since this morning I did two additional restarts of HA but I now notice that additional entities were created. So the original ones are now unavailable and three new ones with an "_2" added to the entity id were created that have data. Can this be avoided?

[2020-05-07 12:56] robbinjanssen commented on #15
Glad it works! I ran into the same problem, I think "copy pasting" the sensor is not the way to go in HACS.

I got it working by:
1. Remove the integration via HACS
2. (might need a restart in between) Remove all entities via http://home.assistant:8123/config/entities (search for `solar`)
3. Restart home assistant
4. Re-add the integration via HACS

I'll create a proper release for this version no

[2020-05-07 14:04] wes1993 commented on #16
Perfect for the ping :-D
I think there are another option that is called Alert.
if we can take this option and make a sensor in HA

Thanks a Lot
Stefano

[2020-05-07 14:42] robbinjanssen commented on #16
I'm sorry but I don't know what that option is or where I can find it. It's not in the status.js.

If you want to create an alert when the power hits a specific kWh then you can create an automation in home assistant.

Please try out the new version (1.3.0) and see if your data is more stable 👍

[2020-05-07 15:22] wes1993 commented on #16
Hello Again :-D i have updated the addon, i will update you  :-D
if i open the status page of the inverter i have this string:

![image](https://user-images.githubusercontent.com/52070589/81312669-2e4cef00-9087-11ea-8161-5c0b7fbd874d.png)

and i this is this value:
myDeviceArray[0]="IELN1520178F5210,V4.08Build215,V4.12Build246,Omnik1500tl ,1500,482,851,24883,here there is a blank space,0,";

myDev

[2020-05-07 20:25] robbinjanssen commented on #15
I made an error in the sensor.py, I think that is causing the `solar_*_2` bug. I'll try to fix it

[2020-05-07 20:52] robbinjanssen commented on #16
Ah now I understand what you are talking about, we could do something with that, but then we need to know what kind of "errors" appear there. Could be a string describing the error or a code "F1234", we don't know as of right now. If you can find any information about that I might be able to fix something.

What we could do is create a "boolean" that simply says "error: yes/no"

[2020-05-07 20:57] robbinjanssen commented on #15
@GoSpursGoNL please update to v1.3.1, that should fix the problem. You might want to delete all the entities again by repeating the steps above.

[2020-05-07 20:57] #15 closed

[2020-05-11 14:24] florafrisia opened #20 "No output with js or json."
Hello,

I have two onmik convertors in my house. The newest convertor is working perfectly and the oldest one has an issue. After I run the javascript I have to log in and after the logging in nothing happens. I get only Access Error: Site or Page Not Found. Can you assist me with this. With json I don't have to login but the result is the same.

Regards,

Peter

[2020-05-12 09:43] robbinjanssen commented on #20
Hi @florafrisia, It could be that your omnik inverter (or rather specific the wifi chip) inside the inverter is not supported. What kind of inverter do you have? Omnik 3?

[2020-05-12 10:02] florafrisia commented on #20
Hello robbin,

I have a 3k tl with first version of the wifi module. After some research version 2 till 6 you can extract data from it and not from the first one. So when I saw this project let give it a try. Sadly it will not work I think.

Regards,

Peter

[2020-05-12 13:37] robbinjanssen commented on #20
@florafrisia, I'm afraid you're right and it won't work. You could do some research in your network tab and see if the web interface (after logging in) is loading some javascript files which output the inverter info. If so then we might be able to extract it using http://user:pass@192.168.100.100/js/whatever-the-file-is.js

[2020-05-14 17:16] silvanverschuur opened #21 "Feature request: configurable update interval"
Great project! I've done the same using a Bash script that parses the web page of the Omnik inverter and publishes the result to MQTT.

Because I like your approach (custom component) I would like to use this HA integration instead of my own Bash script. The only thing I'm missing is a variable update interval. At the moment I'm executing my Bash script every minute. I've read that your component

[2020-05-15 07:47] robbinjanssen commented on #21
Whoops, those 500 should be 300, my bad! But making in configurable seems a good idea, i'll see what I can do :)

[2020-05-15 07:51] robbinjanssen commented on #21
@silvanverschuur I've just released v1.3.2 making the update time the 5 minutes it should be. I'll keep this issue open to make it configurable 👍

[2020-05-15 12:37] wes1993 commented on #16
Hello Again Robbin, for now i have the same problem... :-(
i don't know why..
![image](https://user-images.githubusercontent.com/52070589/82051153-a768c980-96b9-11ea-9a4b-050d8d6ec6a1.png)

[2020-05-15 14:24] silvanverschuur commented on #21
That would be great!

[2020-05-17 13:09] robbinjanssen commented on #21
All done!

Try out 1.4.0 and set a `scan_interval: 60` in your configuration.yaml. (Time is in seconds)

[2020-05-17 13:22] silvanverschuur commented on #21
@robinjanssen Thank you for implementing this feature!

I just installed version 1.4.0. When I set the scan_interval HA gives the following error:

`Invalid config for [sensor.omnik_inverter]: Expected seconds, got 0:15:00 for dictionary value @ data['scan_interval']. Got datetime.timedelta(seconds=900). (See ?, line ?). `

[2020-05-17 13:49] robbinjanssen commented on #21
What did you use for `scan_interval` value?

[2020-05-17 13:51] silvanverschuur commented on #21
I tried to set it to 60, but I also tried the default `scan_interval: 900`

Both values give the same error

[2020-05-17 13:59] robbinjanssen commented on #21
Strange, i've set mine to 30 now and it seems to work:

[code]

What version of home assistant do you have?

[2020-05-17 14:01] robbinjanssen commented on #21
Aha, i see what you mean now. The config validation fails. Let me look into that

[2020-05-17 14:02] silvanverschuur commented on #21
I'm using Home Assistant version 0.109.6. Could it be a config issue? I'm using a separate config file for each sensor:

`sensor: !include_dir_list ../entities/sensors`

And I've added a file `omnik.yaml` with:

[code]

[2020-05-17 14:06] robbinjanssen commented on #21
It's something in the code validation config, looking into it. Quite new to this as well so unfortunately there's a lot of trial and error involved 🤦

[2020-05-17 14:20] robbinjanssen commented on #21
Found it, v1.4.1 coming up

[2020-05-17 14:22] robbinjanssen commented on #21
Done, all tagged!

[2020-05-17 14:39] silvanverschuur commented on #21
@robbinjanssen Thanks for the quick fix. I can confirm that this fixes the config validation error.
When I restart HA I now get the following error:

[code]

I disabled the cache for now. Could it be that the following line in your source code is invalid?

`cache = pickle.load(open(cacheName, 'rb'))`

It seems to me that the file is opened read-only.

[2020-05-17 16:42] robbinjanssen commented on #21
Glad to hear it is working!

Hmm that could be the case indeed, i’ll have to look into this. I’ll update when i know more

[2020-05-18 07:22] robbinjanssen commented on #21
@silvanverschuur This might be just a permission problem on your system. Do you run hassio? Or a custom installation?

Maybe try deleting the file and then see if it can write the new file? All my files belong to `root` in the config folder

`-rw-r--r--    1 root     root            15 May 18 09:16 .powertoday.pickle`

[2020-05-18 17:19] silvanverschuur commented on #21
@robbinjanssen I'm running Home Assistant in a Python virtual environment. My home assistant user is owner of the whole `.homeassistant` directory. I checked the permissions of the sub folders but everything seems ok. Other integrations are capable of adding / changing files inside my `.homeassistant` directory (e.g. Google, PS4, MySensors integrations).

Where is the `.powertoday.pickle` file loc

[2020-05-19 08:11] robbinjanssen commented on #21
Yes it should be right there

[2020-05-19 08:14] robbinjanssen commented on #21
I see that the PS4 components utilises home assistant functionality: https://github.com/home-assistant/core/blob/dev/homeassistant/components/ps4/__init__.py#L160-L185

When I have the time i'll rewrite the "caching" to a json file and load/save it like the component above.

[2020-05-19 08:18] robbinjanssen commented on #16
@wes1993 i'll add some more logging to the empty data error when I have the time, we might see some more info then. I'll update this issue when i've done this :)

[2020-05-19 08:47] wes1993 commented on #16
Perfect!! :) thanks a lot :)

[2020-05-19 13:38] silvanverschuur commented on #21
@robbinjanssen Take your time. As far as I can see right now, I don't need caching at all because my Omnik inverter doesn't reset the daily total.

Your plugin works great, thanks!

[2020-05-25 11:19] robbinjanssen commented on #20
Closing due to inactivity

[2020-05-25 11:19] #20 closed

[2020-06-10 16:40] silvanverschuur opened #25 "Component stops working after connection issues."
I've had this issues about 10 times now. When the inverter doesn't respond in time (within 10 seconds) or the component receives 'empty' data from the inverter the component stops working after some time.

It seems like it's freezing (out of connections?). They only way to get it working again is to restart Home Assistant. In that case it looks like the component is preventing HA to shutdown becau

[2020-06-11 07:02] robbinjanssen commented on #25
Hi Sil, that's strange..

Not sure why this happens, the initial "result" data is set to [`None`](https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/master/custom_components/omnik_inverter/sensor.py#L132)

It then tries to fetch the data from the host by [opening, reading and closing the connection](https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/master/custom_

[2020-06-11 08:30] silvanverschuur commented on #25
I might have an idea why it's going wrong. Suppose the connection can be established (`open`  call succeeds) but `data = json.load(fp)` fails. In that case an exception is caught but the connection isn't closed.

I'm not a python programmer but I think you should use `try/except/finally` and move the `close` statement to the `finally` block to make sure the connection is always closed.

[2020-06-11 11:58] robbinjanssen commented on #25
Same here 😂
I'll see if i can find the time to write something, have been pretty busy lately

[2020-06-18 19:27] florafrisia opened #26 "Omnik is not working in HA PermissionError: [Errno 13] Permission denied: '.powertoday.pickle'"
I get the following error:

[code]

[2020-06-18 19:27] florafrisia commented on #26
Can you help me with this error ?

Regards,

Peter

[2020-06-19 14:09] robbinjanssen commented on #26
Hi @florafrisia, Yes i'm planning to update the "cache" implementation to something more in lines with home assistant. I'll update this issue when I do :)

In the mean time you could try disabling the cache by adding `cache_power_today: false` to your configuration.

Thanks for reporting!

[2020-08-04 10:56] robbinjanssen commented on #21
@silvanverschuur v1.5.0 uses the HASS helpers to define the storage path and now uses JSON instead of pickle to save the "cached" status :)

[2020-08-04 10:56] #21 closed

[2020-08-04 10:56] robbinjanssen commented on #26
@florafrisia v1.5.0 uses the HASS helpers to define the storage path and now uses JSON instead of pickle to save the "cached" status :)

I think this will work for you as well :)

[2020-08-04 10:56] #26 closed

[2020-08-04 10:57] robbinjanssen commented on #25
@silvanverschuur i've added the `finally` code block to always close the connection in v1.5.0

[2020-08-04 10:57] #25 closed

[2020-08-04 10:57] robbinjanssen commented on #16
@wes1993 are you still experiencing this? If so please reopen :)

[2020-08-04 10:57] #16 closed

[2020-08-05 07:01] robbinjanssen opened #27 "Data received but parsed as empty data"
See https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/16#issuecomment-624030538

[code]

[2020-08-05 07:02] robbinjanssen commented on #16
@wes1993 i've opened a separate issue for this https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/27 :)

[2020-10-26 15:38] #27 closed

[2020-12-17 22:08] gerard33 opened #28 "Use of requests"
Hi Robbin, I have switched over from this custom integration to an Appdaemon script to get the data locally from my inverter. Mostly because that way I can use the same moment on which the data from the inverter and from DSMR is updated. One of the advantages of Appdaemon is that you can change code and directly use it, without restarting HA.
I re-used a lot of your code in the Appdaemon app. Rece

[2021-01-21 18:45] ELANDJEA opened #29 "error while omnik off"
my omnik shutsdown when there is not enough light anymore. The script starts throwing following error message 3 in a row every couple of minutes:

2021-01-21 19:32:27 ERROR (SyncWorker_9) [custom_components.omnik_inverter.sensor] Unable to fetch data from Omnik Inverter 192.168.x. x
2021-01-21 19:32:27 ERROR (MainThread) [homeassistant.helpers.entity] Update for sensor.solar_power_total fails
Trac

[2021-01-24 21:27] robbinjanssen commented on #28
Sorry for the late response. I like the idea and will happily look at your code. Since you've already done a lot for this component I could also make you co-owner of this repository? That way you can create your own branch and we could together implement and improve this?

[2021-01-24 21:41] robbinjanssen commented on #29
Hi, I see what you mean. I'm not sure I can fix all of your problems, but I might be able to fix one. I'll try to create a new version this week!

[2021-01-26 17:08] gerard33 commented on #28
I will share the relevant part of the script here so you can see which parts you can re-use. No need to add me as co-owner as I will keep using the Appdaemon script and have to much on my to-do list so wont have time to further test this as a custom integration 😄

The script detects if no connection can be made and in that case restarts. That was the only way I could get data from the inverter aga

[2021-01-26 19:26] gerard33 commented on #28
[code]

[2021-02-05 09:59] robbinjanssen commented on #29
Hi, sorry I don't really have the time for this atm, i'll keep the issue open though!

[2021-03-15 16:51] wes1993 opened #31 "No 'version' key in the manifest file for custom integration 'omnik_inverter'"
Hello,
In HA i have this warning now:

No 'version' key in the manifest file for custom integration 'omnik_inverter'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'omnik_inverter'

Best Regards
Stefano

[2021-03-16 09:10] robbinjanssen commented on #31
Hi Stefano,

Thanks for reporting! I've added the version key to the manifest in v1.5.1, please update and the message will disappear :)

[2021-03-16 09:10] #31 closed

[2021-03-16 11:20] wes1993 commented on #31
Perfect!!! Thanks a lot

[2021-03-21 20:27] ew-ewim commented on #29
Hey, interested as well in the solution of this issues as the add-on is hardly usable.  A pity as it hat a lot of potential !

[2021-04-02 15:05] robbinjanssen commented on #29
Hi @ew-ewim, I'm sorry to hear that. But fixing this would involve a (partly) rewrite of the component. One of the challenges is that the error "Unable to fetch data from Omnik Inverter 192.168.x.x" can have many reasons:
1. Is the IP address correct?
2. Is the WIFI network down?
3. Is the omnik (shut)down?

The code doesn't know the difference between 1, 2 and 3 and the cause of the error message

[2021-04-11 19:45] kevindebosscher opened #33 "Not loading Entities"
Hello,

I"ve added via HACS, afterwards added below in the configuration.
[code]
Omnik folder is present in custom_components,how ever no Omnik solar entities showing up.

Best Regards

[2021-04-15 07:52] robbinjanssen commented on #33
hi @kevindebosscher, can you answer the following questions:
- What inverter do you have?
- Did you restart HA after adding the component via HACS?
- Do you have any errors in your logs?
- When you go to http://192.168.1.114/js/status.js or http://192.168.1.114/status.json?CMD=inv_query&rand=0.1234567 do you get any data?

[2021-04-16 04:46] kevindebosscher commented on #33
Hello Robbin,

-Omnik 4k
-Restart done like any other integration
-No errors but no omnik entity neither
-Pages dont open/work propably a wifi card than that has no json support?

[2021-04-26 06:53] robbinjanssen commented on #33
Hi @kevindebosscher

Might be a stupid question, but are you sure your inverter is connected to the Wifi?
If none of those pages work, then I'm afraid this integration won't work for you.

[2021-04-27 09:19] edegraaff opened #34 "Omink liquidation closedown omnikportal"
Hi, as most of us have been informed omnik is not able to pay for the hosting services. This is now done by Solarman, you need to pay for their services.

Is it possible to no change the code in a way, the data is directly pulled from the inverter?

and or make use of traffic over the wifi network?

[2021-04-29 09:42] robbinjanssen commented on #34
Hi @edegraaff,

This component doesn't depend on any cloud services like Solarman. It connects to your inverter directly and reads the data from there :-)

[2021-04-29 09:42] #34 closed

[2021-05-08 19:15] hepfister opened #36 "Weird behavior when reading from two inverters"
I have two inverters that I read using:
[code]
HA creates unique ID's, for example 'sensor.solar_power_today' and 'sensor.solar_power_today_2'. Yet, the data showed for 'sensor.solar_power_today_2' is the same as 'sensor.solar_power_today'. I know for a fact this amount should be very different.

The odd thing is that it only happens with 'sensor.solar_power_today'.

'sensor.solar_power_total(_2)'

[2021-05-10 20:19] robbinjanssen commented on #36
Hi @hepfister, I think what you are describing is spot on. Could you try adding a 'name' (thanks to @Rmvandiepen in https://github.com/robbinjanssen/home-assistant-omnik-inverter/pull/35) to your config for each inverter? This will used when defining the entity names, that might resolve your issue!

[2021-05-10 20:20] #33 closed

[2021-05-18 20:48] #36 closed

[2021-05-19 08:32] Rmvandiepen commented on #36
Found one small problem with the cache when using multiple inverters (the today_cache is shared between both inverters). Should be resolved by #37

[2021-05-21 09:31] robbinjanssen commented on #36
Awesome @Rmvandiepen! I've tagged 1.5.4 :)

[2021-05-31 12:34] hepfister commented on #36
@robbinjanssen, sorry for responding late. The 'name' suggestion works well. Testing your plugin alongside the other Omnik integration (which has problems on its own). Hope to replace it with your lighter weight implementation. Thanks for fixing the issue :)

[2021-06-11 11:44] InjunBob opened #38 "omnik_inverter no longer supported in latest "core-2021.6.3"?"
Since upgrading to the latest core (absolutely NO other changes), the omnik_inverter custom integration seems no longer supported? Check config file results in "Platform error sensor.omnik_inverter - Integration 'omnik_inverter' not found.". Can anyone confirm / deny? Much appreciated! - Bob

[2021-06-24 08:03] robbinjanssen commented on #38
Hi @InjunBob

Are you still having issues? I'm not having any issues at all and i'm on the latest version(s).

HA core-2021.6.6
HA: supervisor-2021.06.3
HACS: 1.13.2
Omnik Inverter: 1.5.4

[2021-06-24 10:15] InjunBob commented on #38
Hi Robbin,

Thanks for your intrest in my issue! At the time, I went back to the core 2021.5 version, which restored the functionality of the add-on (before I did that, I added a “version” statement to the manifest.json file, which I read was obligatory as of 2021.6, but that did not make a difference). Since you indicate you are now on 2021.6.6 (I tested on 2021.6.3), I will upgrade to that and s

[2021-06-24 10:17] InjunBob commented on #38
P.S. - I noticed that I am still on 1.5.0 version of Omnik, so I’ll upgrade first to the 1.5.4 version, to be in sync with you.

Bob

[2021-06-24 13:26] InjunBob commented on #38
Everything works, after upgrading both Omnik to 1.5.4 and Core to 2021.6.6 !

So not sure which one of the upgrades did the trick, but at least a big Thank You for the effort you put in Omnik Inverter.

Best regards,

Bob

From: Bob Cuyt ***@***.***>
Sent: Thursday, 24 June 2021 12:18
To: robbinjanssen/home-assistant-omnik-inverter ***@***.***>
Cc: robbinjanssen/home-assistant-omnik-inverter ***@*

[2021-06-25 12:00] robbinjanssen commented on #38
That's great! Closing this issue :-)

[2021-06-25 12:00] #38 closed

[2021-07-27 05:51] freddieleeman opened #39 "No devices in status.js when no power is generated"
When my inverter (PowerOne + iGEN Wi-Fi external logger) does not generate any power for a while, the inverter disappears from the status.js source, causing errors and resulting in 'Unavailable' sensors.

_status.js with sun:_
[code]

_status.js without sun:_
[code]

**Possible fix:**
This issue could be resolved by using the cache when the source is retrievable (status.js found), but the regex fo

[2021-07-30 18:52] mobiledude opened #40 "Home assistant's Energy Dashboard"
Latest Beta of HA contains an energy Dashboard. Would love to be able to use this integration to get the Energy out of the omnik invertor. However the entities must have specific characteristics to support this. Can you please have a look if this is something that can be supported? Would be great.  https://rc.home-assistant.io/blog/2021/07/28/release-20218/

[2021-08-04 20:05] freddieleeman commented on #40
For now, if you want to add `sensor.solar_power_total` to the Home Assistant Energy dashboard, just add this to your configuration.yaml:

[code]

[2021-08-05 10:08] wes1993 commented on #40
Hello,
This should be wonderful but can we also add the power_current and power_today?
I'm have this in my HA config but can't see the sensor some suggestion?:

[code]

I can see the last reset value in my developer tools page

Best Regards
Stefano

[2021-08-06 06:39] robbinjanssen commented on #40
This looks awesome! As always PR's are welcome. Sorry, I don't have much spare time at the moment 👶 🎉

[2021-08-06 19:05] hepfister commented on #40
Works just perfectly, many thanks!

[2021-08-07 07:30] freddieleeman commented on #40
You cannot use those sensors for the Energy Dashboard. You could use 'power_today', but the last_reset value cannot be set static. I do not recommend doing this, and just use the power_total sensor for solar measurement.

[2021-08-07 09:07] wes1993 commented on #40
@freddieleeman
Thanks a lot for your reply :-D
Ok i will use this sensor and i have another question but i'm not sure if is possible, could we calculate the return to grid energy by subtracting current - shelly power sensor?

Best Regards
Stefano

[2021-08-13 15:14] klaasnicolaas commented on #40
This approach is strongly discouraged, yes it allows an entity to appear in the energy dashboard. But in the long run can cause problems for the calculations in the long term statistics, depending on whether or not a device resets its values after a power cut etc.

In addition, from 2021.9 something will also change with the `last_reset` so you keep messing with it in the end 😉

[2021-08-13 18:00] hepfister commented on #40
What would you recommend doing instead? The sensor.solar_power_total is just adding up. This value is never reset regardless of power cuts (which happens every night). I don't see the long term problem. Can you explain a bit more?

[2021-08-13 18:48] freddieleeman commented on #40
the sensor.solar_power_total is a lifetime sensor that has been increasing over 6 years in my case. I don't see an issue with adding these three arguments to the sensor. It has been working fine with the Energy Dashboard. Of course it would be nicer if this integration would add the arguments automatically, but until then, I think the suggested customization is fine.

[2021-08-13 19:33] klaasnicolaas commented on #40
I mainly talk in general, in various places you see these suggestions passing by and people take them blindly and use them in their config, for one device it can work fine and for another it causes problems and people start complaining that it is not working properly.

But enough about it, I'll see if we can update the code for this integration, but I don't use it myself so could use some help wit

[2021-08-19 13:14] pixsoftware commented on #40
Could you add goodwe to the names, as it's not intuitive to fint the right sensor if you have many sensors in the system. maybe even add the plant name to the friendly name?

[2021-08-29 15:19] robbinjanssen commented on #40
So @klaasnicolaas has been working on an update and we are currently testing this. Looks like a v2 is coming soon with support for the energy dashboard :-)

[2021-08-30 07:11] robbinjanssen opened #41 "Looking for Beta Testers"
Me and @klaasnicolaas are looking for users that have enabled the `use_json` option to test out the new version of this component. It seems that there is a difference in JSON output between several inverters and we would like to gather as much data as possible.

What we would like to know is:
- Your inverter model/type
- Your firmware version the inverter
- Your (obscured) JSON output (http://<you

[2021-08-30 07:17] robbinjanssen commented on #41
@GoSpursGoNL has the following inverter/data

**Type:** `omnik2000tl2`
**Firmware:** `VER:ME-111001-V1.0.6(2015-10-16)`
**JSON output**
[code]

[2021-08-30 07:19] robbinjanssen commented on #40
To continue with this we need people who use the `use_json` option. Please check out https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/41 if you can help :-)

[2021-08-30 07:21] robbinjanssen commented on #29
I think this is solved in v2 :-) See #40

[2021-08-30 07:21] #29 closed

[2021-08-30 07:22] robbinjanssen commented on #28
Closing in favor of #40

[2021-08-30 07:22] #28 closed

[2021-08-30 12:51] relout commented on #41
{"g_sn":1905704036,"g_ver":"ME-121001-V1.0.6(201704012008)","time":31759255,"g_time":60,"g_err":"F02","mac":"xx.xx.xx.xx","auto_ip":1,"ip":"192.168.11.52","sub":"255.255.255.0","gate":"192.168.11.1","auto_dns":1,"dns":"192.168.11.1","dns_bak":"208.67.222.222","i_status":16,"i_type":1283,"i_num":1,"i_sn":"160E311910600420","i_ver_m":"","i_ver_s":"","i_modle":"","i_pow":"","i_pow_n":823,"i_eday":"1.

[2021-08-30 15:29] klaasnicolaas commented on #41
@relout Which model do you have?

[2021-08-30 15:42] relout commented on #41
Hoi Klaas,

De omvormer is van Solis, de mini 2000 4g.
En de inverter is van Ginlong.
Heb je hier voldoende aan?

Met vriendelijke groet,

René Elout

Op 30 aug. 2021 om 17:29 heeft Klaas Schoute ***@***.***> het volgende geschreven:

﻿

@relout<https://github.com/relout> Which model do you have?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<

[2021-08-30 23:05] klaasnicolaas commented on #41
@relout Could we be in touch somehow (Slack or Discord) to run some tests? I have some code ready that could theoretically work with your inverter.

[2021-08-31 05:54] relout commented on #41
@klaasnicolaas i have send you an email with some possible ways to contact.
René

[2021-09-03 12:27] wes1993 commented on #41
Hello,
Thanks a lot for yours wonderful work, unfortunately i don't have the Json inverter.
Just for information have you seen this?
https://community.home-assistant.io/t/how-can-i-add-total-increasing-to-my-template-sensor/334961/3

[2021-09-03 12:42] klaasnicolaas commented on #41
@wes1993 as an insider, all information in that community blog is already known to me 😉

Optionally, you can also share your output with us from an inverter that retrieves data from the javascript file (Inverter IP/js/status.js). We have almost finished the integration and I expect that a first beta release will be coming soon.

[2021-09-03 12:46] wes1993 commented on #41
@klaasnicolaas
Thanks a lot for your reply!! This is wonderful!!! :)

[2021-09-03 12:50] wes1993 commented on #41
This is the output of my JS Inverter (I think that if is possibile you could add also the RSSI sensor in HA):

var version= "H4.01.51MW.2.01W1.0.64(2018-01-251-D)";
var m2mMid = "HiddenByME";
var wlanMac= "HiddenByME";
var m2mRssi= "39%";
var wanIp= "192.168.0.34";
var nmac= "HiddenByME";
var fephy= "off";
var yz_device_type="258";
var yz_device_num="1";
var myDeviceArray=new Array();
myDeviceArra

[2021-09-03 13:47] wes1993 commented on #41
Because some times I have some error and I think it’s related to the RSsI, if I possible just for tracking the connection and check if Wi-Fi it’s strong

[2021-09-03 17:17] Hjalmgunnarson commented on #41
This may be redundant, but here is the output of my Omniksol 3k TL2 (JS). Thank you for all the hard work!

`
var version="H4.01.38Y1.0.09W1.0.08";var m2mMid="0000000000";var wlanMac="00:00:00:00:00:00";var m2mRssi="0%";var wanIp="000.000.0.0";var nmac="000000000000";var fephy="off";var webData="NLBN300006C62000,NL2-V9.7-5930,V5.2-90155,omnik3000tld,3000,403,1432,162837,,4,";function initPageText(

[2021-09-03 18:51] klaasnicolaas commented on #41
@Hjalmgunnarson Thnx for the output! Always welcome.

[2021-09-03 18:53] klaasnicolaas commented on #41
@wes1993 I'm now working on adding this, as well as IP and firmware version of your device.

[2021-09-03 19:13] wes1993 commented on #41
@klaasnicolaas thanks a lot!! This is awesome!!!

[2021-09-04 07:02] GoSpursGoNL commented on #41
I wasn't using this integration anymore after I had stability issues with HA and decided to use as few as possible integrations. That is now all resolved. I had been using Node-Red to fetch the total overall consumption from the inverter and put it into a HA input_number entity.
But that isn't compatible with the Energy dashboard. With 2021.8 I could do a trick by converting it into a sensor via t

[2021-09-06 10:03] robbinjanssen commented on #41
@GoSpursGoNL we'll release the beta soon, and we can use some testers then :-)

[2021-09-06 10:45] wes1993 commented on #41
I can be a tester, if it’s ok for you.
Best regards
Stefano

[2021-09-06 14:38] klaasnicolaas commented on #39
Is there any way we can help you with this issue? It has been open for a while and in the meantime a lot of work has been done on a v2.0 version of this custom component.

[2021-09-07 08:02] sander76 opened #42 "change power to energy"
A bit of nitpicking,

But kWh is a unit of energy not power.

https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/06c87de448ee5e76dc915827a1dbdbe7dd6d6be0/custom_components/omnik_inverter/sensor.py#L47

https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/06c87de448ee5e76dc915827a1dbdbe7dd6d6be0/custom_components/omnik_inverter/sensor.py#L48

[2021-09-07 08:42] klaasnicolaas commented on #42
That will be fixed in the next BIG future release.

[2021-09-07 08:42] #42 closed

[2021-09-07 13:37] robbinjanssen commented on #41
Before we can continue we need to make a decision on what to do with unreachable inverters. Feel free to jump in on https://github.com/klaasnicolaas/python-omnikinverter/discussions/24 :-)

[2021-09-07 13:37] robbinjanssen commented on #39
Before we can continue we need to make a decision on what to do with unreachable inverters. Feel free to jump in on https://github.com/klaasnicolaas/python-omnikinverter/discussions/24 :-)

[2021-09-14 07:19] robbinjanssen commented on #41
A pre-release has been tagged. You can update it using HACS if you have `Show Beta Releases` enabled.
https://github.com/robbinjanssen/home-assistant-omnik-inverter/releases/tag/v2.0.0-beta

## BREAKING

[2021-09-14 07:20] robbinjanssen commented on #40
A pre-release has been tagged. You can update it using HACS if you have `Show Beta Releases` enabled.
https://github.com/robbinjanssen/home-assistant-omnik-inverter/releases/tag/v2.0.0-beta

## BREAKING

[2021-09-14 09:05] wes1993 commented on #41
Hello,
I'm trying to install this but i can't find how to enable the beta release.
Could you help me
Best regards
Stefano

[2021-09-14 09:18] wes1993 commented on #41
Hello,
I have installed the Beta version:
![image](https://user-images.githubusercontent.com/52070589/133230841-51396c2d-bd46-4c6e-aa4c-967860c48ab7.png)

But i can't see the integration in the integration page of HA:

![image](https://user-images.githubusercontent.com/52070589/133230979-5d2d6654-5ba2-4c6e-af65-01884fdca2f6.png)

![image](https://user-images.githubusercontent.com/52070589/13323104

[2021-09-14 10:08] klaasnicolaas commented on #41
@wes1993 Did you restart HA after installing?

[2021-09-14 10:10] wes1993 commented on #41
Yes,
Also the entire server.
I don’t need to put anything in configuration.yaml is correct?

[2021-09-14 10:17] klaasnicolaas commented on #41
No more YAML code is needed 😄 I just installed it on my own HA environment and I can set up the integrations with the config_flow without any problems 🤔

[2021-09-14 10:50] wes1993 commented on #41
Mmm I don’t know why… there is a way to see some log or other stuff?

[2021-09-14 11:21] robbinjanssen commented on #41
@wes1993 did you remove the configuration from your `yaml` file? Anyone else having the same problem?
![Screenshot 2021-09-14 at 13 19 58](https://user-images.githubusercontent.com/120077/133248674-6147b81a-35a8-4b52-b146-4158b5c6c8a1.png)

[2021-09-14 11:24] wes1993 commented on #41
@robbinjanssen
Yes i have commented out the old config:
![image](https://user-images.githubusercontent.com/52070589/133248986-5fcceaf9-649e-496d-bdd3-08fea1a419c6.png)

I'm trying to remove addon and reinstall

[2021-09-14 11:29] wes1993 commented on #41
Yeeeeessss
Thanks a lot for everyone reinstalling and installing again (2 times) seems that have solved the problem :-D
I'll keep updated this thread if i found bugs etc :-D

Thanks again for your wonderful work :-D

[2021-09-14 11:32] wes1993 commented on #41
There is a way to change the scan interval?

[2021-09-14 11:48] klaasnicolaas commented on #41
At the moment the scan_interval is 4 minutes, you can only change that by adjusting the python code. In the future we can optionally make this in the options config_flow.

[2021-09-14 11:51] wes1993 commented on #41
Ok perfect!! This is wonderful :)

[2021-09-14 12:00] Hjalmgunnarson commented on #41
I'm having trouble installing the beta. It is not listed when I select "Install this repository in HACS". After that I select "Show Beta releases", but it is not listed. I restarted HASS once.

[2021-09-14 12:12] robbinjanssen commented on #41
@Hjalmgunnarson it looks like you need to install v1.5.4 first via HACS, after installing the v2.0.0-beta should be visible as an installation option.

[2021-09-14 12:55] wes1993 commented on #41
@robbinjanssen
Sorry again for the disturb, where is the line related to the scan interval? what file?

Thanks a lot
Stefano

[2021-09-14 12:57] robbinjanssen commented on #41
@wes1993 you can change it in [`const.py`](https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/dev/custom_components/omnik_inverter/const.py#L10). Note that when we update the component these changes are overiden.

[2021-09-14 13:11] wes1993 commented on #41
@robbinjanssen
Thanks a lot :-D
I know i hope that when an update was released i have this in the config, so for now it's ok :-D

Best Regards
Stefano

[2021-09-14 14:30] Hjalmgunnarson commented on #41
Thanks, I thought I had to uninstall and reinstall, don't know why. It works now! Thanks a lot for all the work. I'll report back in a few days.

[2021-09-15 08:49] robbinjanssen commented on #40
Will be fixed in next release :)

[2021-09-15 08:49] #40 closed

[2021-09-15 17:07] Hjalmgunnarson commented on #41
After approx 24 hours no apparent problems and no entries in home-assistant.log.

[2021-09-16 09:39] BobvanderWeg commented on #41
I encounter an issue with registering the inverter as a new repository. any hint?

![issue](https://user-images.githubusercontent.com/88884381/133589069-d3333d06-46cb-49a8-9a18-30f05146f290.JPG)

[2021-09-16 10:08] klaasnicolaas commented on #41
Does your inverter transmit its data via a javascript file or JSON?

https://github.com/robbinjanssen/home-assistant-omnik-inverter/tree/dev#how-does-it-work

[2021-09-16 10:23] BobvanderWeg commented on #41
I tried both.
I have this output:

![image](https://user-images.githubusercontent.com/88884381/133595820-bb198f79-ebf6-47e0-87bc-e6f50bcef23a.png)

[2021-09-16 10:48] klaasnicolaas commented on #41
In that case don't check the "Gebruik JSON" box 😉

[2021-09-16 10:50] BobvanderWeg commented on #41
I tried without the "JSON" option also without result. It's a Hosola inverter but with version 1.5.2 it was working before.

[2021-09-16 13:31] klaasnicolaas commented on #41
Could you post the code in that file here? Then I'll test it locally.

[2021-09-16 13:42] BobvanderWeg commented on #41
var version="H4.01.51Y4.0.02W1.0.57(2017-08-311-D)";var m2mMid="640536678";var wlanMac="F0:FE:6B:C4:BC:C8";var m2mRssi="81%";var wanIp="192.168.178.22";var nmac="F0FE6BC4BCCB";var fephy="off";var yz_device_type="5633";var yz_device_num="1";var myDeviceArray=new Array();myDeviceArray[0]="PVL3000N18A21027,,,,,610,887,77304,,0,";
;function initPageText(){var B=window.parent.reList("status");fileText(

[2021-09-16 14:11] klaasnicolaas commented on #41
Thank you! I see what's going wrong and will fix it soon with a new beta release.

[2021-09-18 13:31] Hjalmgunnarson commented on #41
The signal quality reported is very erratic. Is anyone else experiencing this?
![Screenshot_20210918-152905](https://user-images.githubusercontent.com/48839773/133890617-86973793-ea81-42f4-b9c5-deb0e740f4ac.jpg)

[2021-09-18 23:50] wes1993 commented on #41
I have similar situation but it’s not a bug of the software but the shit FW and poor quality antenna of the Wi-Fi Module for Inverter

[2021-09-18 23:51] wes1993 commented on #41
My situation:
![Uploading 16B6C22B-E454-4554-A338-3F6C8DE65111.jpeg…]()

[2021-09-19 01:02] klaasnicolaas commented on #41
If this is really an issue, please create a new one 😉

[2021-09-19 16:21] Jackahack opened #45 "Status.html support?"
i use an omnik 2500tl. this inverter does not has a json or js page but it just posts it in a status.html. is it possible to support this? as it is  webdata  is directly visible in the html code? any suggestions?

[2021-09-19 17:41] klaasnicolaas commented on #45
Are you sure it doesn't have a javascript file? We can make support for it, just don't think it will be in the short term.

[2021-09-19 19:05] Jackahack commented on #45
yeah it has only a javascript code block in the status.html:
[code]

[2021-09-20 06:25] robbinjanssen commented on #45
@Jackahack can you paste the complete output of status.html?

[2021-09-20 07:40] Jackahack commented on #45
@robbinjanssen
 the javascript code block starts at line 172
[status_html_output.txt](https://github.com/robbinjanssen/home-assistant-omnik-inverter/files/7194223/status_html_output.txt)

[2021-09-20 15:15] robbinjanssen commented on #41
@Hjalmgunnarson @wes1993 I think its indeed just a shit FW with a shitty antenna. Mine looks like this:
<img width="369" alt="screenshot_2021-09-20_at_08 26 05" src="https://user-images.githubusercontent.com/120077/134027355-0a4f7bc9-f9a3-47ac-9304-1de17320bc0f.png">

I think it's something we have to accept :)

[2021-09-20 16:14] wes1993 commented on #41
Yes Infact I have asked to add the sensor for monitoring the WI-FI.
This is normal but moving a little bit the antenna I have strongest Wi-Fi also if drop connection

[2021-09-20 17:09] Hjalmgunnarson commented on #41
I can live with that. :hurtrealbad:

[2021-09-22 06:41] robbinjanssen commented on #41
Thanks to @klaasnicolaas [v2.0.0-beta-2](https://github.com/robbinjanssen/home-assistant-omnik-inverter/releases/tag/v2.0.0-beta-2) has been released 🎉

[2021-09-22 06:46] robbinjanssen opened #51 "Add caching layer for inverters that go offline after dark"
We've learned that some inverters go offline after dark. Meaning the status.js/json file is no longer reachable. Instead of throwing errors and exceptions we would like to introduce a caching layer. As discussed in the [python client](https://github.com/klaasnicolaas/python-omnikinverter) for this package we need to add the layer to this integration.

@sander76 reached out and pointed us in the ri

[2021-09-22 06:48] #39 closed

[2021-09-22 06:48] robbinjanssen commented on #39
Created a new issue with more details about this :-)

[2021-09-22 08:25] BobvanderWeg commented on #41
In my test environment it's working to connect to the inverter and read the values. thanks

[2021-09-23 23:01] klaasnicolaas commented on #45
What is the link to the file and is it accessible with or without login?

[2021-09-24 08:05] Jackahack commented on #45
@klaasnicolaas http://<ip-adress>/status.html
i do have to login with a basic browser login window. nothing to fancy.

[2021-09-24 09:50] klaasnicolaas commented on #45
Well then I know enough, with a little luck support will already be in the next beta release.

[2021-09-24 11:52] NoWiGit commented on #41
Type: omnik2000tl
Firmware: NL1-V1.0-0043-4
JSON output: none

[2021-09-25 05:58] robbinjanssen commented on #41
And this is working for you? Or do you have `status.js` output? :)

[2021-09-25 23:25] klaasnicolaas commented on #45
@Jackahack In the meantime I'm working on adapting the integration so that it can handle your HTML type or inverter. Could you contact me privately (Email, Twitter, Discord etc.) so we can invite you to Slack, share some stuff so you can test a modified version soon 😉

[2021-09-26 08:16] Jackahack commented on #45
@klaasnicolaas yes sure.  Discord works good enough. Here is my tag: MegaJule#1536

[2021-09-26 10:52] klaasnicolaas commented on #45
I sent you a message on Discord 😉

[2021-09-26 19:24] NoWiGit commented on #41
I'm using _status.js_ I guess ;-)

Thanks for your great work on this custom component. beta2 is working like a charm.

[2021-09-27 12:20] #45 closed

[2021-09-27 12:23] klaasnicolaas commented on #51
Let's sign this up for hacktoberfest 😄

[2021-09-29 21:34] wes1993 commented on #41
Error in Beta-3

Error setting up entry Fotovoltaico for omnik_inverter
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 304, in async_setup
    result = await component.async_setup_entry(hass, self)  # type: ignore
  File "/config/custom_components/omnik_inverter/__init__.py", line 37, in async_setup_entry
    coordinator = OmnikInverterData

[2021-09-29 21:39] wes1993 opened #56 "Beta 3 Won’t Work"
Hello, after I have updated to beta 3 I have this error in the log
[code]

[2021-09-29 22:01] klaasnicolaas commented on #56
Have you tried removing and adding the integration again?

[2021-09-30 06:50] wes1993 commented on #56
I have tried but whitout any luck.

[2021-09-30 08:24] robbinjanssen commented on #56
@wes1993 just to clarify; did you remove and re-add the [integration](https://my.home-assistant.io/redirect/integrations/)?

[2021-10-02 10:49] wes1993 commented on #56
Hello @robbinjanssen,
Sorry for the delay to reply :(
I have deleted and installed the RC version and I don’t know why but now works very well :)

Thanks a lot for the wonderful work :)

[2021-10-02 10:50] #56 closed

[2021-10-03 18:45] robbinjanssen commented on #41
Thanks for testing! v2 has been released 🎉

[2021-10-03 18:45] #41 closed

[2021-10-03 19:52] stingone opened #62 "Integration not showing up"
Just upgraded to v2.0 however the integration is not showing up. even after many restarts no result.

[2021-10-03 19:54] WHagenauw opened #63 "Current production not in new energy dashboard visible"
I updated to the 2.0 version and as was written in the update info on the HACS page it would be compatible with the new energy dashboard. I could only find the solar production today there (settings > energie > solar) but not the current production. I suppose I need there the current production isn't?

[2021-10-03 19:58] klaasnicolaas commented on #63
You should use the day or total production entity 😉

[2021-10-03 20:00] klaasnicolaas commented on #62
Which version is in the integration manifest.json file?

[2021-10-03 20:05] WHagenauw commented on #63
Ok, what would be the difference in use between the daily or total?

[2021-10-04 07:42] robbinjanssen commented on #62
@stingone can you try using this link? https://my.home-assistant.io/redirect/config_flow_start/?domain=omnik_inverter

[2021-10-04 07:45] stingone commented on #62
Got It working. I removed the old installation and reinstalled now working 🙂

________________________________
Van: Klaas Schoute ***@***.***>
Verzonden: zondag 3 oktober 2021 22:00
Aan: robbinjanssen/home-assistant-omnik-inverter ***@***.***>
CC: stingone ***@***.***>; Author ***@***.***>
Onderwerp: Re: [robbinjanssen/home-assistant-omnik-inverter] Integration not showing up (#62)

Which version

[2021-10-05 05:56] #62 closed

[2021-10-05 19:17] ronaldt80 commented on #51
@klaasnicolaas is there any way to correct faulty values in the long-term statistics database?
I have 2 inverters, 1 went briefly offline and back online twice today. Result is that HA Energy showed 13,000kwh production today. The previous integration had caching on so never experienced this issue before. Will probably roll back to v1 until caching is possible in V2 as well but in the meantime wou

[2021-10-07 09:16] robbinjanssen commented on #63
@WHagenauw I think @klaasnicolaas answered your question :) If not or you have a follow up, feel free to reopen the issue.

[2021-10-07 14:21] wes1993 opened #64 "HA Version 10 Possible BUG"
Logger: homeassistant.helpers.template
Source: helpers/template.py:1210
First occurred: 16:18:11 (13 occurrences)
Last logged: 16:19:46

Template warning: 'float' got invalid input 'unavailable' when rendering template '{% if states('sensor.fotovoltaico_solar_current_power') | float > states('sensor.shellyem_f4cfa2e45ce7_channel_1_power') | float -%} {{ states('sensor.fotovoltaico_solar_current_po

[2021-10-07 18:36] wes1993 commented on #64
Damn sorry… I have read now
Sorry sorry sorry… :(

[2021-10-07 18:36] #64 closed

[2021-10-08 08:14] ErikTbk opened #65 "No data inverter"
Hi,

I have a Omnik 2.0 TL3-S inverter.
When I do the configuration I get the error code: Error occurred while communicating with Omnik Inverter device.

I have tried the three options below, but no result.
- Most inverters have a JS file, try accessing http://<your omnik ip address>/js/status.js in your browser.
- Some inverters use a JSON status file to output the values. Check if your inverter

[2021-10-11 06:50] robbinjanssen commented on #65
Hi @ErikTbk,

Can you try inspecting using the developer tools of your browser if the data is present?
Check the network tab and look for the relevant webData. If it is visible in a file somewhere we can probably parse it.

If you need help feel free to reach out, we'll invite you to our slack channel and we might be able to help using teamviewer or if you are brave enough open up your inverter to

[2021-10-11 18:52] WHagenauw opened #66 "2 inverters"
How to handle 2 inverters? I know have added 2 inverters but in the graph they will stand next to each other. Can I get it as a total and add it to the new energy dashboard? If I create a ne sensor I cannot add it to the new energy dashboard.....

[2021-10-12 10:37] WHagenauw commented on #66
That's correct. Now you see 2 graphs next to each other but not the total
in the graph. The forecast also seems to be from 1 inverter. The graph with
the circles is showing the total.

[image: image.png]

Op di 12 okt. 2021 om 09:06 schreef Robbin Janssen ***@***.***

[2021-10-12 12:11] klaasnicolaas commented on #66
In the next big release of Home Assistant core the bars will be stacked 😉

[2021-10-12 13:27] #66 closed

[2021-10-12 15:23] klaasnicolaas commented on #51
As stated before, this has to do with your inverter sending incorrect values at certain times (we have seen this on JSON source). To determine this for sure, we need to apply some extra logging so that we can figure this out. The `last_reset` has nothing to do with it, it only assumes that there has been a reset due to a decreating in the `total_increasing`.

What source do you use and could you a

[2021-10-13 05:34] ELANDJEA commented on #51
I used the JS source for getting the data. (http://<your omnik ip address>/js/status.js)
if needed I can get output from that source.....guess one time output is not enough....you need at least a certain sequence?

[2021-10-14 10:03] L44RS opened #67 "Retrying Setup"
Hi,

I'm running into some issues: i've tried all three options to connect. It turns out that the data is there in the status.html file, under a script in the header. When I inspect the page, I can also see the variables. From there I thought it would be easy to get it to work. Installing the integration worked flawlessly, but setting it up is causing me issues. I selected HTML during the setup, a

[2021-10-16 10:11] L44RS commented on #67
Can I retrieve more detailed logs of what's going wrong in some way?

[2021-10-16 18:38] joene-nl opened #68 "Sensor states unavailable since update to v2.0.0"
Since the update to the latest version and removing the old config from the yaml and moving to the integration I have the issue that all the sensor states become unavailable quite often. With the old method I never had that, anyone else with the same issues?

Kind regards,

Jeroen

[2021-10-16 20:16] #68 closed, assigned to nobody

[2021-10-20 11:47] beestarbush opened #70 "Not connecting to Ginlong Solis"
Hello,

I have been trying to add a Ginlong Solis inverter with a Ginlong stick but when using the "Integration Add..." button it failed to add and displays the error "Kon niet verbinden"/"Could not connect". The data is retrievable via JS and via JSON and if needed I could post that here. Could you help me with this?

Thanks.

[2021-10-21 07:47] robbinjanssen commented on #65
Closing for now, feel free to reach out at r.janssen@exonet.nl if you need more help debugging :-)

[2021-10-21 07:47] #65 closed

[2021-10-28 09:55] dvdstelt opened #76 "Config flow not working"
Plugin: v2
Home Assistant: 2021.10.6

## Problem Description

When installing via HACS the config flow (the configuration window) never shows up. Since the documentation doesn't show what the config could potentially look like, I don't really know how to configure the component.

## Solution

- Make the config flow work again?
- Document the default configuration in YAML in the readme.md

[2021-10-29 10:20] #76 closed, assigned to nobody

[2021-11-01 10:41] kongjudas opened #77 "Ginlong stick password"
Get "Failed to connect". I have probably overseen something basic here, but when I try to access my Ginlong stick via the browser, I'm asked for user/ password. I can't see how the integration could get pass that with the GUI installation using JSON (I understand that is the correct mode, as you stated in the docs).

[2021-11-01 11:11] klaasnicolaas commented on #77
What do you see when you go to this page? Do you also have to log in?
`http://<your omnik ip address>/status.json?CMD=inv_query`

[2021-11-01 12:26] kongjudas commented on #77
ERROR:404 Not Found

[2021-11-01 13:49] klaasnicolaas commented on #77
There is really no way to determine how those Ginlong sticks work :(, it works differently for everyone, making support for them extra difficult.

[2021-11-01 17:54] kongjudas commented on #77
Well, I've found that it serves the data thru HTML. So far so good, but no cigar.

[2021-11-04 09:31] klaasnicolaas commented on #70
No no no no no this is not stale 😅

[2021-11-04 11:09] NewQuichotte opened #80 "No data from Omnik3000TL inverter."
Hello, I have an Omnik Omnik3000tl the readout does not seem to work.
Does this inverter have any capabilities?

[2021-11-04 11:31] klaasnicolaas commented on #80
That depends on whether one of the 3 sources works with your inverter, or maybe there is a 4th option that we don't know yet. https://github.com/robbinjanssen/home-assistant-omnik-inverter#what-data-source-do-i-use

[2021-11-06 08:48] hepfister commented on #80
I have the same inverter and can confirm that this plugin works.

[2021-11-06 16:10] klaasnicolaas commented on #80
And what source did it work with? Because then we could put this one on the list that it works 😉

[2021-11-09 06:08] NewQuichotte commented on #80
Omnik3000TL javascript

[2021-11-10 07:52] robbinjanssen commented on #80
@NewQuichotte so it works for you now? We can close this issue? :)

[2021-11-10 07:55] robbinjanssen commented on #77
@kongjudas can you output the data that is served by the Inverter? Maybe that differs from what we expect?

[2021-11-10 08:51] NewQuichotte commented on #80
Yes, and thanks.

[2021-11-10 12:44] #80 closed

[2021-11-15 10:57] #67 closed

[2021-11-17 14:11] wes1993 opened #81 "Leave old value instead of Unavailable"
Hello,
We have some problem with this inverter that goes in unavailable state very often, instead of go in unavailble also in HA sensors could we leave the latest value readed?
Se we don't have all this sensors unavailable also in HA, a little explanation:
If inverter not reply:
solar_current_power = 0
solar_energy_today = last value before connection lost
solar_energy_total =  last value before c

[2021-11-18 10:36] robbinjanssen commented on #81
@wes1993 therefor we will need some sort of caching layer, there already is an issue for this. Closing this issue :)

Duplicate of https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/51

[2021-11-18 10:36] #81 closed

[2021-11-19 08:27] wes1993 commented on #81
Sorry @robbinjanssen
Thanks a lot and i hope you could find a way to add this feature

Bye
Stefano

[2021-11-19 13:58] wes1993 commented on #51
We have some news about this implementation?

[2021-11-24 09:54] #77 closed

[2021-11-25 09:10] robbinjanssen commented on #51
Unfortunately not, currently i dont have much spare time. But i'm happy to accept a PR! :)

[2021-12-08 13:46] tonpors opened #83 "Energie monitor"
I can't get the right production from the solarsystem to monitor in home assistant.
In the Energy pulldown menu I see two options: production.today or production.total. Both give 0 kWh.
But the entity sensor.omnik_solar_energy_today seems to give the right output. Unfortunately this one is not in the pulldown list.
Am I doing something wrong?

[2021-12-08 14:09] #83 closed

[2021-12-21 20:30] Jackahack commented on #45
ok. it worked for me a short while and then it stopped working.  i kinda forgot about it thats why it took me so long. but now i am reporting it.  i get the following error:
 `[homeassistant.config_entries] Config entry 'omnik_pv' for omnik_inverter integration not ready yet: Error occurred while communicating with Omnik Inverter device; Retrying in background`.

Nothing happens. it does not  crea

[2021-12-21 20:36] Jackahack opened #85 "Error occurred while communicating with Omnik Inverter device; Retrying in background"
i own the 2500 TL; Status.html.

This integration did work for a time,  but then it wouldnt connect all of a sudden.  i got the following error:
`[homeassistant.config_entries] Config entry 'omnik_pv' for omnik_inverter integration not ready yet: Error occurred while communicating with Omnik Inverter device; Retrying in background.

Nothing ever happens again except for the same error.  It does no

[2021-12-22 07:55] robbinjanssen commented on #85
Hi @Jackahack,

This seems like a local issue.

Some inverters switch off automatically if no power is collected, can you try if you can access the status page at the same time you get the error?

[2021-12-22 11:59] Jackahack commented on #85
@robbinjanssen  so my inverter does generate power currently. but the integration keeps throwing the error. i can view the status.html in the browsers debugger. the data is there...

although when i first opened my browsers debugger on the <ip>/status.html page. it would not load immedietly it also threw an error about fetching data and reloading the page. after that the debugger showed the data p

[2021-12-22 14:49] Jackahack commented on #85
to close out a potential local setup problem. i created a clean homeassistant os instance in a vm.  the integration still gives the error.

[2021-12-22 15:15] robbinjanssen commented on #85
@Jackahack i've just tried re-adding the integration myself and it still works.

So if I understand correctly adding the integration works, but after adding the devices/entities they no longer show up?

[2021-12-22 16:36] Jackahack commented on #85
@robbinjanssen  the adding of the integration works. but it does not read data and there fore it does not create entities/devices.  so yes thats whats happens.   the error states the integration is not ready because there is a communication error between HA and the inverter.

[2021-12-23 07:46] robbinjanssen commented on #85
That's strange, I think we need to add some more logging or invite you to our slack channel so we can debug directly :-)
Could you tell us which version of HA and the integration you are using?

[2021-12-26 08:06] robbinjanssen commented on #85
We talked on slack and the issue seemed to have resolved itself! :-)

![](https://media4.giphy.com/media/12NUbkX6p4xOO4/giphy.gif)

[2021-12-26 08:06] #85 closed

[2022-02-12 14:29] HartmutHartmann opened #96 "Support for Bosswerk MI600"
Hello,

I was looking for a local method to get data from my inverter and stumbled upon this project. Right now I'm using the solarman api, sadly cloud based.

Out of the 3 methods listed in the readme only the HTML method would be available on the Bosswerk MI600. Here i can use a simple
curl --user username:pass "http://ip-address/status.html"
to get the data including the <script> with the webda

[2022-02-12 14:53] klaasnicolaas commented on #96
Based on this output, there should be already support. The only question is why it won't connect now 🤔

[2022-02-12 15:05] HartmutHartmann commented on #96
Here is the raw output:
[code]

I hope I caught all sensitive data ;-)
I'm open for a one-on-on, just needs to be with daylight, otherwise the inverter goes to sleep.

[2022-02-12 15:33] klaasnicolaas commented on #96
Are you also active on Discord? You can find me there under the name: `Mister Nicolaz#7558` then we can debug further.

[2022-02-15 15:16] #70 closed

[2022-02-15 15:21] klaasnicolaas commented on #96
A pre-release is coming, should work with your inverter

[2022-02-15 15:44] robbinjanssen commented on #96
@HartmutHartmann please try with https://github.com/robbinjanssen/home-assistant-omnik-inverter/releases/tag/v2.3.0 :)

[2022-02-15 17:17] #96 closed, assigned to nobody

[2022-02-16 09:57] hepfister opened #99 "Feature request: Add automated upload functionality to PVoutput.org"
## Detailed description
HA recently got a data consumer integration to fetch information from PVOutput (which was uploaded by your solar photovoltaic (PV) system). It got me thinking that it would be nice of this omnik plugin has the option to push data to PVOutput.org.

## Context
This feature could secure our PV data, as it could serve as a backup. I'm a HA user for almost 2 years now and have l

[2022-02-16 10:22] klaasnicolaas commented on #99
It would be a good idea to see if we can upload that data to PVoutput. The functionality would then have to be created in the [python package](https://github.com/klaasnicolaas/python-omnikinverter) and the interval execution in the integration.

I'm just not that familiar with the platform myself and how easy it is to push that data to the platform.

[2022-02-16 11:12] robbinjanssen commented on #99
@hepfister I understand your problem, but I don't think its within the scope of this component. This is purely a "read data form inverter and sent to HA"-component. If we start supporting sites like PVoutput, who knows where it will end.

I think you should take a look at https://github.com/Woutrrr/Omnik-Data-Logger, it's a python script that does exactly what you want I think :)

[2022-02-16 11:12] #99 closed

[2022-02-16 11:24] ianfretwell opened #100 "Optimal "minimum time between entity updates""
Hi  -  not an issue as such, more a request for assistance.

Is there an optimal setting for the "minimum time between entity updates" in the Configure settings ?

I have tried 4  and  5 minutes and on either I see the following type of results - notice the frequent inability to get any results. The wifi doesn't seem to be dropping to the inverter so I just thought there might be a 'better' value

[2022-02-16 12:02] robbinjanssen commented on #100
Hi @ianfretwell,

Can you tell us a bit more about your setup? Like what inverter do you use?

Although you don't say that the wifi drops, it seems like a connection issue. Maybe add a binary_sensor and ping your inverter for a while? See if the connection drops?

Add this to your configuration.yaml

[code]

[2022-02-16 17:36] ianfretwell commented on #100
@robbinjanssen Thanks - I'll give that a go and see what it shows up...

[2022-02-18 13:41] HartmutHartmann commented on #100
Hi,
just wanted to add that I had a similar experience since installing the integration on sunday. I've also had a ping sensor(checking every 5min) with clear times when the inverter was asleep.
![mi600production](https://user-images.githubusercontent.com/71136721/154693304-63325f83-c93e-42dc-80c0-4f38b1c6ea1b.PNG)
![mi600ping](https://user-images.githubusercontent.com/71136721/154693308-a232cb6e-

[2022-02-18 17:47] ianfretwell commented on #100
Apologies @robbinjanssen - I completely ignored part of your original response, here are the details -

Inverter  -  Omniksol-4k-TL

@HartmutHartmann Thanks for posting at least it shows I'm not alone.

[2022-02-19 12:58] Step-han commented on #100
Hello!

I have the same problem. Previously I used Hein Oldenhuis's HA integration (https://github.com/heinoldenhuis/home_assistant_omnik_solar).

That integration updates neatly every 60 seconds, this cannot be shorter with that integration.

I now use this integration as Hein's integration no longer gets updates.

However, it now updates completely randomly and not stable. Not every 60 seconds,

[2022-02-19 13:03] MarijnS95 commented on #100
@Step-han Hein's integration uses a TCP connection, which is probably more stable and also provides more statistics while at it. I've liked this integration more with a config flow and all sensor entities bundled under a device, and now that Hein's plugin is deprecated I'm working on porting TCP connection supoprt to [`python-omnikinverter`](https://github.com/klaasnicolaas/python-omnikinverter) a

[2022-02-19 16:43] klaasnicolaas commented on #100
Which version of the integration are you using? Since the last version we have abandoned the reuse of session, which could result in inverters no longer blocking a connection.

As for the interval time, it is set to 4 minutes by default because the inverter in their web interface often only updates once every 5 minutes.

[2022-02-19 17:11] ianfretwell commented on #100
In my case the version is v2.3.0.

[2022-02-19 20:36] MarijnS95 commented on #100
@klaasnicolaas It seems that `python-omnikinverter` does a separate network request for the "device" and "inverter" information, even if both network requests are the same. If this HASS plugin consumes both bits of information it may hit a rate limit (if there is one) twice as quickly?

[2022-02-19 21:09] klaasnicolaas commented on #100
This only happens if you don't pass a session otherwise it will reuse the old session to make another request. As far as we know there is no rate limit and I have never run into it during testing (which is stress testing) so I don't expect this to be the problem either.

We have just removed the session because certain inverters do not like it when you reuse a session. You could always use wiresha

[2022-02-21 13:19] MarijnS95 commented on #100
Keeping the session/connection alive is one thing, resending an identical request for the same data (which likely also happens to be identical) - while not the end of the world - just seems rather wasteful:

https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/d00ad655da66329ed894ba18ba590bd23d0e71dd/custom_components/omnik_inverter/__init__.py#L123-L124

[2022-02-21 14:21] klaasnicolaas commented on #100
We might merge that in the future, but let's save that for another issue 😉

[2022-02-21 17:13] Step-han commented on #100
In my case also v2.3.0.

I ran this version and Hein's version side by side for a while and Hein's always updates every 60 seconds and never misses a pull. This integration misses alot of pulls when configured with 1 minute interval, sometimes no data for more then 15 minutes.

For now I'll stick with Hein's as long as it continues to work with HomeAssistant

[2022-02-22 12:22] robbinjanssen commented on #100
Does this also occur with a previous version? v2.2.0?
v2.3.0 introduced some changes into handling sessions as klaas mentioned, maybe this has something to do with the "broken" graph

[2022-03-15 22:32] Wo0Zzz opened #103 "Error message when installing and setting up the integration"
Hi there,

Just found out this solution to read my PV panels information in Home Assistant.
When setting up I ran into some problems.
The first was the "config flow could not be loaded".
Found out it was an MQTT issue, didn't install it yet.
When i installed MQTT I get the set up page, when I add my to inverters it works great.
But when I wan't to add the entity's to my Energy dashboard, can not f

[2022-03-15 22:58] klaasnicolaas commented on #103
MQTT is completely outside this integration, we don't use it at all.

Which Home Assistant version are you running?

[2022-03-16 17:35] Wo0Zzz commented on #103
Okay, I think that would be a coincidence then.
My HA is running on version 2021.9.6 because when I want to update the whole system freezes.
Could that be the issue?

[2022-03-16 18:44] klaasnicolaas commented on #103
That explains everything, with Home Assistant it is important to keep up with updates and you are now simply missing crucial changes from core.

[2022-03-16 22:47] Wo0Zzz commented on #103
Hi there,
Finally managed to update my HA instance to version 2022.3.5.
When adding the Omnik Inverter integration, it keeps hanging on: "Please wait while Omnik Inverter is being set up"
See attached screenshot:
![image](https://user-images.githubusercontent.com/73174128/158703507-3e2843d0-bacd-4962-af9c-99c7001b7cd7.png)
It is in Dutch.
It doesn't go further, what am I doing wrong?
I added the f

[2022-03-16 22:53] Wo0Zzz commented on #103
Remembered what I did yesterday, as you said, you don't use MQTT, but I also installed the AppDaemon.
That's my solution! Now the integration is working! Thank you! So the first step is to update you;re HA to the newest version and second step is to install the AppDaemon! Didn't know both of them! :-)

[2022-03-16 23:05] klaasnicolaas commented on #103
Also AppDeamon has nothing to do with this integration....

That the screen hangs is not entirely true, in the background HA is installing the corresponding python package. Just a matter of waiting after that you can continue with the integration.

[2022-03-17 07:56] robbinjanssen commented on #103
@Wo0Zzz seems like everything is working now, good! 👍

[2022-03-17 07:56] #103 closed

[2022-04-05 08:01] ploman1973 opened #104 "No connection to Sofar inverter 3.6ktlm-g2"
I am trying to connect to my Sofar inverter with Wifi stick (serial 0528...). Al the the methods do not make a connection.

I can connect to my logger with 192.168.86.194/status.html and see this info in the source:

edit:
copy past part status.html deleted and added as attachment
[status html.txt](https://github.com/robbinjanssen/home-assistant-omnik-inverter/files/8417627/status.html.txt)

[2022-04-05 11:15] robbinjanssen commented on #104
Hi @ploman1973, can you paste the complete status.html between ` ```  ` please? Did you add the `|` yourself or are they there?

[2022-04-05 11:43] robbinjanssen commented on #104
Thanks, do you see any error whatsoever? Could it be that your HA has no access to that IP address?

[2022-04-05 11:58] ploman1973 commented on #104
Hello, the only error is the message that the site cannot be found. (see picture, I am sure user and password are correct) Both logger en Homeassistant are in my local network.
![Schermafbeelding 2022-04-05 135722](https://user-images.githubusercontent.com/22667224/161748815-f0475840-89e1-4569-b07b-279d3d3d181f.png)

[2022-04-05 12:02] robbinjanssen commented on #104
@ploman1973, try using only the IP address (`192.168.68.194`) without HTTP and status.html as host, that should work :)

[2022-04-05 12:06] ploman1973 commented on #104
pfffff thought I had tried this already a 1000 times :). But not because this works. Thank you verry much

[2022-04-05 12:06] #104 closed

[2022-04-07 06:59] CFenner commented on #96
I plan to use a Bosswerk Wechselrichter. Really nice to see that there is an integration to HA available 🎉

[2022-04-15 22:42] Shadoweee77 opened #107 "Question about Ginlong LAN stick - will it work?"
Question about Ginlong LAN stick - will it work? Currently waiting for mine so can't test it, but maybe someone else has it running?
Thanks and sorry for putting this as an issue.

[2022-04-19 10:19] robbinjanssen commented on #107
I think a few people have tried it, and some sticks work, some don't.
Guess we'll find out when you get yours 😄  If it outputs the data via JSON, JS or HTML, we'll probably get it working!

[2022-04-19 10:19] #107 closed

[2022-04-19 10:54] Shadoweee77 commented on #107
Got it, thanks!

[2022-06-02 06:40] robbinjanssen commented on #100
@HartmutHartmann @ianfretwell @Step-han you could try using the TCP backend now, just reinstall the configuration and select TCP :-)

[2022-06-02 08:13] ianfretwell commented on #100
Thanks - I'd already uploaded to the new version and seen all the new sensors - none of which worked for me even after enabling them.

I've now reconfigured with TCP and they are now working, but I've lost two that worked previously (IP address & Signal Quality).

Is that just because of differences in what my inverter is returning depending on whether it's setup for JS or TCP?

[2022-06-03 10:39] ianfretwell commented on #100
Just an update then - after two days of using TCP rather than JS - the gaps in reporting remain pretty much the same - no better, no worse.

[2022-06-03 10:49] Jessy142 opened #112 "Solis inverter with YingZhen datalogger not working"
When I try to add my Solis (Ginlong) inverter with YingZhen datalogger (WiFi stick) my HA tells me the following at the integration configuration.

I have added it via the HTML way, I can reach the WiFi stick at status.html and it has a <script> tag with the webData.

HA log says the following:

I have filled in the username & password when I configured the integration in HA (default admin, admin)

[2022-06-04 09:50] mvdwetering opened #113 "A username/password is missing error after update to 2.4.0"
## Detailed description

After updating from 2.3.0 to 2.4.0 the integration does not load anymore. It shows the following error in HA.

This is with a Ginlog Solis Wifistick that used to work before the update.

There are a username and password in the config entry and they are still valid (checked with a browser)

[code]

I did a quick scan through the changes, but nothing obvious popped out.

##

[2022-06-04 09:50] MarijnS95 commented on #113
This seems to be a:

Duplicate of #112

[2022-06-04 10:07] #112 closed

[2022-06-04 10:07] #113 closed

[2022-06-04 10:11] klaasnicolaas commented on #112
We have found the bug and version 2.4.1 fixes the problem.

[2022-06-04 15:18] mvdwetering commented on #113
Thanks for the quick fix, works great 👍

[2022-06-04 16:08] MarijnS95 commented on #113
My apologies for breaking it in the first place, that was a poor 2-letter typo!

[2022-06-05 14:32] MarijnS95 commented on #100
@ianfretwell As far as I've understood the code these requests for updates are driven by home assistant itself (`local_polling`) which may be affecting this odd poll rate _somehow_. If I make some progress on a little redesign to make pushing possible over the TCP backend I'll let you know for testing purposes :)

[2022-06-09 11:01] serrj-sv opened #116 "Unexpected error fetching omnik_inverter data: coroutine ignored GeneratorExit"
I get this error every now and then since switching to TCP mode for my Omnik 3000TL:

[code]

[2022-06-09 11:42] ianfretwell commented on #100
Out of interest - today the integration hasn't managed to connect even the once successfully.

Yet at the same time I use this project

[https://github.com/jbouwh/omnikdatalogger#pvoutput-plugin-settings-in-the-section-outputpvoutput-of-appsyaml-or-configini](url)

in a dedicated docker instance, also configured to use a TCP connection,  and it's been absolutely fine all day.   I've been using the

[2022-06-09 12:22] serrj-sv commented on #116
I was able to mitigate it by adding ```async with async_timeout.timeout(10):``` at line 126 as per official HA documentation:
https://developers.home-assistant.io/docs/integration_fetching_data/

[2022-06-10 08:12] MarijnS95 commented on #116
I've also seen this `RuntimeError GeneratorExit` error a couple times, but don't yet understand where it comes from. I'd argue a timeout in the underlying socket would bubble up as `TimeoutError`, but that doesn't seem the case (or this is a different kind of error).

Perhaps this workaround makes the `async` backend timeout before that `RuntimeError` is raised; and as mentioned by that comment it

[2022-06-11 20:16] MarijnS95 commented on #116
This mitigation is now up in https://github.com/klaasnicolaas/python-omnikinverter/pull/207, still unsure where the error is coming from...

[2022-06-12 07:49] Videodok opened #117 "Can't add Omnik omnisol 1.5k-TL"
I can't seem to add the omnisol1.5k-TL, none of the protocols seems to work, none of the test links for checking the status seem to work either. I'm submitting my data to solarman smart, so there is data to be found somewhere. Is my inverter of 2013, too old?

## Detailed description

## Context

## Diagnostics

[code]

[2022-06-12 14:13] MarijnS95 commented on #117
@Videodok Are you sure your Omnik inverter is reachable from the machine that you are running HASS on? That is, if you `ping <omnik IP address>`, does it reply?

[2022-06-12 15:37] Videodok commented on #117
HASS is running on a Synology NAS, just SSH-ed into the synology to ping the Omnik inverter from there, without any problems. So yes, the inverter is reachable.

[2022-06-12 15:48] MarijnS95 commented on #117
And if you run `curl http://<your omnik ip address>/js/status.js` from there?

[2022-06-13 09:09] Videodok commented on #117
I get a 404 error. So I don't get an js/HTML page whatsoever as described. I have seen only the initial config page and the fact that I get stats from solarman smart, insures me there is data transfer...

[2022-06-13 10:57] Videodok commented on #117
Honestly I don't. After the bankruptcy of Omnik my details were transferred
from Omnik to Solarman. I know you need to insert the serial of the Unit
and the serial and of the logger/wifi module. But I can't configure
anything regarding sending the data on the logger/wifi module. I only have
1 configuration page, where I can setup the wifi connection, keys and so
on. That's it.

Op ma 13 jun. 2022

[2022-06-15 11:45] robbinjanssen commented on #117
Are you sure you are entering the correct serial? This can be confusing. You need to have the one from the (wifi) device information.

<img width="521" alt="Screenshot 2022-06-15 at 13 43 49" src="https://user-images.githubusercontent.com/120077/173819539-5dded115-d589-47ab-a912-b2952bb8d386.png">

[2022-06-15 14:03] Videodok commented on #117
yes, the only option to insert the device serial is using the TCP data source type. The serial I can insert there of the logger is, very different from the inverter serial and upon insertion of the serial, it gets corrected to a 9 digit version. It is clearly the wifi/logger serial I'm inserting. I used the serial I found on the solarman webpage. I could check if this is really the same serial of

[2022-06-16 19:32] mark0100 opened #118 "Integration does not show up in home assistant"
I have installed this manually in my home assistant docker image as described in the readme but the integration does not show up in the list of integrations in home assistant.

I tried restarting the docker image and the docker container but that makes no difference.

If i look in the home assistant logfile i do see the following entry:

2022-06-16 21:11:48 WARNING (SyncWorker_0) [homeassistant.lo

[2022-06-17 16:10] Videodok commented on #117
Maybe it's just impossible for my model:

"Some older Omnik inverters doe not have a possibility to get the data directly, some types do, but if not the portal seems the only place you can collect the submitted data. My inverter (installed October 2012) is of that older type, and cannot be accessed directly to get the actual data. "
https://jbsoft.nl/site/omnik-datalogger/

[2022-06-18 12:23] mark0100 commented on #118
After starting Home Assistant today this integration does show up. Strange.
I think this can be closed.

[2022-06-18 12:23] #118 closed

[2022-06-20 07:25] robbinjanssen commented on #117
Seems like that could be the case 😢 I'm afraid we can't help you, maybe the omnik-datalogger plugin works for you?

[2022-06-22 13:31] mark0100 opened #119 "Unknown omnik fields in Homeassistant"
The fields "inverter temperature" and "Solar production uptime" show a value of Unknown in Homeassistant after i added this integration.
Other fields are shown correctly:

![image](https://user-images.githubusercontent.com/56533523/175040321-6e80461e-dd2e-481e-9395-dc9e5dc4fd1e.png)

Here is the javascript output from my inverter:

`var version="H4.01.36Y1.0.05W1.0.04";var m2mMid="605677026";var w

[2022-06-22 13:47] MarijnS95 commented on #119
This information is only available on the TCP backend, hence it's "onbekend" :wink:

Perhaps we should document this more explicitly or disable these entities by default if not using the TCP backend - though it's a good way to remind users to try the TCP backend instead.

[2022-06-22 14:07] MarijnS95 commented on #119
Not solved per-se, I should have done a better job of documenting this :)

[2022-06-22 14:07] mark0100 commented on #119
You are forgiven my friend :-)

[2022-06-23 09:38] tilchl opened #120 "1. Request reads 0 total_energy, leading to overshoot when actual values are read"
## Detailed description
I have a Bosswerk MI600 which is read via HTML

The HA integration has a problem with the inverter "waking up". I belive the first request reads 0 kWh for Total and Today production.
<img width="350" alt="Screenshot 2022-06-23 110643" src="https://user-images.githubusercontent.com/27765476/175262219-01be4c14-c01f-4207-abe2-565a8c7b28cc.png">

This in turn leads for the Ener

[2022-06-23 19:55] robbinjanssen commented on #120
I think this is related to #51, I had similar problems with my inverter but they magically resolved themselves 🤷
By caching the value and resetting it at 00:00, it should be good I think?

[2022-06-23 20:55] klaasnicolaas commented on #120
Strange, we once made an exception that pops up when your day and total indicate 0 kwh. Precisely to prevent us from getting this kind of situation, I'm curious what the logs are when this happens 🤔

[2022-06-23 21:57] tilchl commented on #120
I have already tried to analyze the TCP requests comming from the logger. But no luck.

I just dont want the logger to call home. I find it kind of alarming that it sends all meta information to the Solarmann API just by connecting it to a WiFi network.

Shame they dont share their modbus/TCP structure.

[2022-07-11 08:12] #117 closed

[2022-07-16 08:11] #120 closed

[2022-07-16 12:47] rob-on-git opened #121 "Cannot connect to Trannergy invertor (old addon works)"
## Detailed description

When configuring within the GUI, i cannot connect to the TCP stream to my trannergy SGN4000TL (while i do see traffic)

    With serial 0: a short burst of traffic, and timing out
    With serial of device: Short burst of traffic and saying 'cannot connect'

Can someone point me out in how to debug this properly?
(i do have some scripting/network background, but not that m

[2022-07-17 06:52] FrankyB1983 opened #122 "Overflow"
Sometimes I get strange overflows. For example. It work totally fine for a couple of days. And then I get a current power value of 76000 watts. My solar panels can only produce 1080 watts.

I use an omnik 1000TL

[2022-07-17 07:14] FrankyB1983 commented on #122
![Screenshot_20220717-091348](https://user-images.githubusercontent.com/23337049/179388106-e5981b0f-603a-46d3-a409-3cf9c0c4730f.png)

[2022-08-03 06:01] Dominion0815 opened #123 "Very often I get unknown values"
Hi,

in my screenshots you see that my Bosswerk MI600 often has gaps with unknown values.
Is it possible to cache the last state insteat?

![Screenshot 2022-08-03 at 07-59-03 Übersicht – Home Assistant](https://user-images.githubusercontent.com/33466236/182535314-12ee48f5-31d7-46a7-951d-8590f32a163b.png)
![Screenshot 2022-08-03 at 07-58-22 Verlauf – Home Assistant](https://user-images.githubuserco

[2022-08-03 07:24] MarijnS95 commented on #123
Could be similar to (duplicate of) https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/100?

[2022-08-03 07:45] Dominion0815 commented on #123
oh yeah it is similar sorry.

My inverter is always accessible via wifi, only sometimes it does not output any values but displays "---" in the web interface.
I don't know if there is a query limit and a cache might help.

[2022-08-08 07:11] robbinjanssen commented on #121
Are you sure you are entering the correct serial? This can be confusing. You need to have the one from the (wifi) device information.

<img width="521" alt="Screenshot 2022-06-15 at 13 43 49" src="https://user-images.githubusercontent.com/120077/173819539-5dded115-d589-47ab-a912-b2952bb8d386.png">

[2022-08-08 07:13] robbinjanssen commented on #122
Go to you integrations, find the Omnik integration and click on the 3 dots. Then click on the "Download diagnostics" link, this file will provide all information :-)

[2022-08-08 07:59] rob-on-git commented on #121
I know I used the proper serial, as the older addon also works (and i copied that serial).
Also, i use ethernet instead of wifi, but that works similar (with serial etc).

I took a tcpdump, and i do see communication with the inverter when trying to configure, but the GUI still says it cannot connect. (one part of the packet says "DATA SEND IS OK" from the inverter back to HA)
To be honest, i don'

[2022-08-08 13:28] MarijnS95 commented on #121
Can you possibly share this dump? I've been refactoring the code somewhat to better cope with this second `DATA SEND IS OK` message as none of the other implementations deal with it. Is there anything in the logs that indicates what could be going wrong, before this issue is inevitably rewrapped as a generic/useless "cannot connect" error?

[2022-08-08 14:39] rob-on-git commented on #121
I didn't find anything in the logs. Also tried to enable more debugging on logs, but nothing seems related to the omnik.

[trannergy-omnik.dump.gz](https://github.com/robbinjanssen/home-assistant-omnik-inverter/files/9282619/trannergy-omnik.dump.gz)

[2022-08-08 14:45] MarijnS95 commented on #121
@rob-on-git thanks, I'll throw this through the parser when home and see what comes out of it. We probably do need some better logging at some point, not sure where the mostly-specific error types are disappearing.

[2022-08-08 23:47] MarijnS95 commented on #121
@rob-on-git After a bit of puzzling I managed to extract valid data from the dump you provided:

[code]

You can pick the WIP changes from https://github.com/MarijnS95/python-omnikinverter/commit/8de16303e535b6b56ec695db19b9f0169e342f9c; I'll tinker around with the `` Unexpected padding0 `b'\x81\x01\x16'` `` a bit, before coming up with a solution that supports your inverter by allowing the differ

[2022-08-09 08:30] rob-on-git commented on #121
Tried with your changes, but i get an 'Unknown error occurred' at this moment.

And in the logs:
[code]

[2022-08-09 08:40] MarijnS95 commented on #121
Alright, I've have only applied the necessary changes to the `tcp` module while testing, the `Inverter` object requires the `firmware` and `firmware_slave` field. A force-pushed commit has been pushed to https://github.com/MarijnS95/python-omnikinverter/tree/trannergy that works around this issue.

If I may ask, how'd you apply this patch so quickly? I've been struggling to find the best way to de

[2022-08-09 09:03] rob-on-git commented on #121
I run the homeassistant on a supervised docker on Debian.

Just went into docker shell and did the edit by hand... after that restarted the docker container.
(in other words, quick and dirty...)

[2022-08-09 10:16] rob-on-git commented on #121
Look a lot better now!
Only missing the serial of the inverter (but not really needed). The rest of the prod-items are templated items.
![solar](https://user-images.githubusercontent.com/95224800/183623958-cf036620-d8d8-4ef4-9774-f378bff087e3.jpg)

[2022-08-09 10:36] MarijnS95 commented on #121
Fwiw this is where we're loosing most of the error context, I think this should at least have a `LOGGER.exception()` here to print the exception (current context) to the log:

https://github.com/robbinjanssen/home-assistant-omnik-inverter/blob/c08ab6a99479b58b0114c6219a96c22dcfed0b02/custom_components/omnik_inverter/config_flow.py#L161-L162

Awesome! :tada:

I think these are intentionally omitted

[2022-08-10 10:05] rob-on-git commented on #121
I'll try to do some dumps and let you know.

Another weird thing is, that it seems the plugin stopped pulling data after 24 hours (this morning, it started to get data... and suddenly stopped after a few hours, while the old integration still kept on running. Might be an additional issue...
After a restart, it started to work again. I'll monitor this behaviour the next days.

[2022-08-10 10:13] MarijnS95 commented on #121
I had to insert `socket.settimeout()` when I was still using the plugin from Hein Oldenhuis, something like https://github.com/PierreLevres/home_assistant_omnik_solar/commit/4cf5401aac4a16aaa0c930707bdbfa7c554a8250 but I thought it also landed on the fork from hultenvp?

I think I forgot to port this timeout to the TCP backend.

[2022-08-10 11:59] MarijnS95 commented on #121
I did end up covering the timeout in https://github.com/klaasnicolaas/python-omnikinverter/pull/207 as well, which @rob-on-git already seems to have found and given a thumbs-up :grin:

[2022-08-18 12:08] rob-on-git commented on #121
I did a longer dump (only forgot to post the analysis), but seems like the same padding is always there.... No other padding seen (approx 1 hour of traffic)
Hopefully, this makes it a bit easier.

[2022-08-25 08:14] #123 closed

[2022-09-05 16:56] CFenner opened #126 "read alert field"
I would like to see the `alert` field in home assistant. Any doubts about adding this?

## Detailed description

I would like to read `webdata_alarm` and make it available as a field in HA.

[code]

[code]

I'm using Bosswerk MI300 / Deye SUN300G3-EU-230. Is this also available on other inverters?

## Context

This would be nice to have for diagnostics.

[2022-09-06 06:17] robbinjanssen commented on #126
I see the same field in my JS source, so we can probably add it. We need to add it in the [`python-omnikinverter`](https://github.com/klaasnicolaas/python-omnikinverter/blob/main/omnikinverter/models.py#L172-L181) library first though :)

[2022-09-06 08:05] klaasnicolaas commented on #126
We are working on it, it's just a puzzle to find out per source_type where this value is.

[2022-09-06 10:22] MarijnS95 commented on #126
@CFenner Do you have a mapping of these error codes? According to certain Omnik docs like https://download.solarclarity.nl/2015/04/UserManual-OMNIK-3K4K5K-TL2.pdf F13 means that the device is overheating...

[2022-09-06 11:28] CFenner commented on #126
No, I don't have a mapping. It's definitely not overheating, current production is very low.

[2022-09-06 13:11] MarijnS95 commented on #126
@CFenner How useful is this field without knowing what's up?

I can see use in knowing the value, but wouldn't want to unnecessarily scare users because of some non-empty error code/value.

[2022-09-06 19:10] CFenner opened #127 "add Connectivity Status Binary Sensor"
I would like to see if my inverter is up & connected.

## Detailed description

There is a `device_class: connectivity` which can be used to display this.

<img width="334" alt="Bildschirmfoto 2022-09-06 um 19 47 02" src="https://user-images.githubusercontent.com/9592452/188704711-b5d4be9e-8182-442b-b9ac-dfeb3c9b4c95.png">
<img width="335" alt="Bildschirmfoto 2022-09-06 um 19 48 13" src="https://u

[2022-09-07 06:22] robbinjanssen commented on #127
So we could do this by checking "do receive data? e.g. status 200 OK?" -> UP, if not -> DOWN.
Is that something you could work with?

[2022-09-07 07:51] MarijnS95 commented on #121
In light of the recent request for dealing with the `alert` field (https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/126, https://github.com/klaasnicolaas/python-omnikinverter/pull/247),  could one of these bits possibly be representing that? Can you check if there's an alert value on your inverter?

Otherwise, can you check in JS/HTML/JSON if there's any value matching `0x16`

[2022-09-07 07:58] MarijnS95 commented on #127
Is this `unavailable`/`unknown` value thought up by HASS when the integration hasn't provided any value for said entity for some time? We were thinking about driving this connectivity status by a configurable timeout on the requests that are sent by this integration (i.e. we won't get any http 200 replies / data if the inverter is offline/disconnected - if that happens for a couple requests in a r

[2022-09-12 08:42] CFenner commented on #127
I think that is how it works. The idea I had is that with a `connectivity` entity the status is even displayed when the device is not reachable.

[2022-09-22 15:35] rulaan opened #129 "Inverter Omnik 3000TL not connecting"
Hi,

My 2nd omnik inverter is not connecting to HA (the first one, an Omniksol-2.5k-TL3-S bought in 2019 connected on first attempt). I tried the 4 options provided, and also tried the URL's mentioned.
JS => 404
JSON => 404
HTML => 404

The converter is an Omniksol 3000 TL bought in 2013. Has been connected to omnikportal, and is now connected to solarmanpv (so there is output to be read).

I am a

[2022-09-22 16:30] klaasnicolaas commented on #129
Have you also tried the TCP option?

[2022-09-22 17:59] rulaan commented on #129
Yes

On Thu, Sep 22, 2022, 18:30 Klaas Schoute ***@***.***> wrote:

[2022-09-23 08:21] robbinjanssen commented on #129
Hi @rulaan!

1. What happens when you access http://<inverter_IP>/js/status.js ?

2. Can you check your HTML source and see if there is any JS data? It should contain something like: https://github.com/klaasnicolaas/python-omnikinverter/blob/main/tests/fixtures/status.html

[2022-09-24 15:59] rulaan commented on #129
Hi Robbinjanssen,

Trying to connect with JS/JSON/HTML gives:
[image: image.png]

Trying with TCP gives (note that a leading zero for the serial is stripped,
should be: 0602321995):
[image: image.png]

Testing  http://<inverter_IP>/js/status.js  on the Omnik-2.5k gives a
response as expected.
Testing  http://<inverter_IP>/js/status.js on the Omnik-3k gives a 404 Not
Found. No more info hidden in t

[2022-09-26 09:36] robbinjanssen commented on #129
Hi @rulaan, unfortunately your images don't work. Can you try uploading them on github directly?

[2022-09-27 09:16] htelgen commented on #129
I have the same problem. My other converter Omnik 1k is still connected

[2022-09-27 09:58] htelgen opened #132 "one of my 2 inverters stopped transmitting data and is even not accessable anymore"
I have 2 inverters: Omnik 3000tls and Omnik 1000tls. Because i have 15 pannels the 3000 wasn't enough. A couple of weeks ago the 3000tls was not available on HA anymore. It still has the local IP-address but is not responding to webcall. It might be a coincidant but at that time I also connected the inverters to the Solarmanagement app.

## Detailed description
I tried to make ik set-up an accessp

[2022-09-27 10:08] klaasnicolaas commented on #132
It is not clear to me what really the problem is and to what extent this is still an integration problem for Home Assistant or another third party issue 🤷🏻‍♂️

[2022-09-27 10:12] htelgen commented on #132
I cut it of power and now having initial connection again

[2022-09-27 10:17] htelgen commented on #132
I got it back on showing in HA again. So, I'm good.

[2022-09-27 10:41] #132 closed

[2022-09-28 09:45] rob-on-git commented on #121
Can i assist in taking this forward ? See that your pull request is not complete yet for the TCP timeout.
I believe that is a minor update is needed to get it in, I would assume.

[2022-09-28 12:21] MarijnS95 commented on #121
@rob-on-git If I remember correctly I think @klaasnicolaas requested me to not "refactor" the system by pulling the timout up higher - which then spans multiple `async` calls instead of purely the network request - so I'd have to move it down again and check again which calls inside the TCP backend exactly are responsible for blocking on the request to complete.

@klaasnicolaas If I misremembered/

[2022-09-29 16:25] HartmutHartmann commented on #96
@TomTom3333
last I checked this integration used the local login to the device, you wouldn't even need to create a Solarman account.
When I first tried to use this Integration, there was some issue on how it handled the sessions, which was fixed shortly after. There was still an issue with "spotty" data  readout (#100).
Another update later the integration failed to connect to the inverter entirel

[2022-09-29 16:46] CFenner commented on #96
Works with my MI300.

[2022-09-29 16:53] TomTom3333 commented on #96
@HartmutHartmann thanks for reply!
instead I did a bit research on web interface of the MI300/Mi600
username + password is *admin*

Integration shows the most recent data
is there a way to display kind of graphs ?

[2022-09-29 16:58] HartmutHartmann commented on #96
Just installed the newest version(2.4.2), connected just fine, the "spotty" data problem still seems to be there (will report back tomorrow, no more sun for today).

@TomTom3333
HA has integrated graphs you can use, additionally there are multiple in HACS

[2022-09-30 16:21] HartmutHartmann commented on #96
Update after 1 day:
same issue with the "spotty" data, seems better than in the past, might also be because my node red flow keeps polling the inverter as well.
![20220930_omniksolar](https://user-images.githubusercontent.com/71136721/193314029-b0181042-9ed4-4498-960e-72028be537cc.PNG)

[2022-10-09 09:33] ThoEngel opened #133 "Bosswerk BW-MI300 no entities available"
after installation/configuration i see two services under homeassist: device and inverter
but no entities are visible.

HTTP request I get the following response of the inverter:

[code]

[2022-10-09 10:16] ThoEngel commented on #133
After 20 min. all entities are available.

[2022-10-09 10:16] #133 closed

[2022-10-10 07:17] robbinjanssen commented on #129
I'm afraid that if js/html doesn't work the only option is TCP. But that's kinda hard to debug (especially remotely). @MarijnS95 any idea on how we can get some debug info on this?

[2022-10-10 10:18] MarijnS95 commented on #129
@robbinjanssen I thought we looked into improving both the logging and status messages in the UI when currently "Can't connect" or "Unknown error" is displayed, but don't remember if that landed.

For starters, @rulaan @htelgen what appears in the Home Assistant logs right as `Unknown error occurred` is shown when attempting a connection through the TCP backend?

If that doesn't surface anything u

[2022-10-15 15:14] remcovl92 commented on #129
I have the same problem with Omniksol 3000TL.
The data logger has firmware version 4.01.9.d1, maybe this is not supported in this firmware version?
@rulaan & @htelgen what firmware do you have?

[2022-10-16 09:32] htelgen commented on #129
Where would I find that information?

Op za 15 okt. 2022 om 17:14 schreef Remco Vliegen ***@***.***

[2022-10-16 11:06] remcovl92 commented on #129
On the home page of the logger http://<inverter_IP>/home.html
then at the bottom of the page:
![image](https://user-images.githubusercontent.com/47039263/196031791-a771c741-f9ec-45fb-9d63-daa40829dcf7.png)

[2022-10-16 12:08] htelgen commented on #129
My problem, at the moment, is that both my converters are not accessible
via Wifi anymore, so I don't get to the information.
I will try to reset the inverters (by cutting off the power) and try
accessing them again.

Op zo 16 okt. 2022 om 13:06 schreef Remco Vliegen ***@***.***

[2022-10-17 07:05] robbinjanssen commented on #129
@remcovl92 @htelgen I doubt the firmware version matters. To properly assist you we need some more debugging logs like @MarijnS95 suggested in https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/129#issuecomment-1273093698 :-)

[2022-10-17 09:26] htelgen commented on #129
I was able to connect to my 3000tl converter. It has ver:1.0.07
Any idea where to get an upgrade?

[2022-10-17 11:29] robbinjanssen commented on #129
Converting this into a discussion as it is turning into a support thread ;-) Feel free to help each other out!

[2022-10-17 11:29] #129 closed, assigned to nobody

[2022-10-28 12:09] SebastianMornhinweg commented on #122
Happens sometimes for me too. The daily count will be taken as current production. So in HA i then see for this hour a high peak and the daily production is doubled. I use HTML with a Deye/Bosswerk MI 600.
![image](https://user-images.githubusercontent.com/99015912/198583740-93db15f6-1697-48ba-aba8-e0e68c938c36.png)

[2022-10-30 12:39] dirk2947 opened #137 "Add Host URL sanitizing"
## Detailed description

When adding a URL by copying it from a webbrowser it also adds the http;//xxx.xxx.xxx.xxx in front (Firefox in my case). It would be nice if the Integration could autodetect this and remove the protocol or throw a more telling error explaining that the IP should be input as numbers only.

## Context

It didn't take me long to realize where I messed up, but I think it might

[2022-10-30 13:13] klaasnicolaas commented on #137
My preference would be to throw an error, this to prevent us from teaching user behavior that is already wrong by default.
In the end, we are clearly asking for a HOST and not a URL.

[2022-10-30 19:40] dirk2947 commented on #137
Yup that would be great and it would have the added benefit of cutting down some minor confusion in the future between host / url for people that aren't too tech savvy.

[2022-10-30 21:30] klaasnicolaas commented on #137
Have something in the works to fix this:

![image](https://user-images.githubusercontent.com/20448157/198902394-2734e6d1-7e3f-469b-944f-39939ee057b3.png)

[2022-10-31 11:01] #137 closed

[2022-11-15 15:34] AlbertHakvoort opened #139 "Unavailable status"
Is it possible to prevent the unavailable status in Home Assistant, so when the connection is lost to the inverter, the last known values are showed

![image](https://user-images.githubusercontent.com/23001971/201960326-e6b4f1cf-a969-4252-8dbe-ef80ba6074f9.png)

[2022-11-15 15:54] MarijnS95 commented on #139
This is however the right value to propagate when it comes to how HASS stores these values in the `states` table and in the short/long-term statistics table.

I recommend using cards that base their values on statistics rather than the raw entity states (even if these are only updated every hour) or look for cards / template values that display the last known state for an entity instead of the mos

[2022-11-17 21:56] Voxxie opened #140 "Error after upgrading to 2022.11.3"
Since upgrading to 2022.11.3 it stopped working.

Error log shows:

[code]

[2022-11-17 21:59] klaasnicolaas commented on #140
Can you add a diagnostics file of the integration to your issue? Then we can better find out where this goes wrong

[2022-11-18 05:32] Voxxie commented on #140
How can I download it?
I cannot find the file.

When try to add a New integration I also get an error:

![Screenshot_2022-11-18-06-30-12-488_io.homeassistant.companion.android.jpg](https://user-images.githubusercontent.com/1845378/202627896-f3b6fd69-1f29-4c90-ba6e-fef79bfa6a21.jpg)

I already redownloaded the component but the problem presists.

[2022-11-25 12:27] klaasnicolaas commented on #140
I doubt if this problem is really with us or if it belongs more to Home Assistant's core repository.

[2022-11-29 08:20] #140 closed

[2022-11-30 08:18] robbinjanssen commented on #139
Hi @AlbertHakvoort, this could be fixed by adding an (optional) caching layer. We have an issue for this already, this is a duplicate of https://github.com/robbinjanssen/home-assistant-omnik-inverter/issues/51

[2022-11-30 08:18] #139 closed